[2014-03-18 09:58] 1stposition-il opened #1 "Suddenly stopped working"
Hello! Thanks for the great plugin!

So... yesterday everything worked.

With PayPalEnvrionmentNoNetwork - I get the flow
With PayPalEnvironmentSandbox payments were successfully.

But today morning (nothing was changed) it stopped working. (version on phone was not updated. It was yesterday's version, which worked.

With PayPalEnvrionmentNoNetwork - nothing appears.
With PayPalEnvironmentSandbox

[2014-03-18 22:00] #1 closed, assigned to nobody

[2014-03-21 17:31] adnanraja opened #3 "Is this plugin compatible with Phonegap 3+ ?"
Is this plugin compatible with Phonegap 3.0 and later releases? I tried it, but it is not generating cdv-plugin-paypal-mobile-sdk.js and cdv-plugin-paypal-mobile-sdk.js files.

[2014-03-24 18:54] #3 closed, assigned to nobody

[2014-04-02 11:21] mayurloved opened #5 "Service state invalid. Did you start the PayPalService?"
I have tried https://github.com/paypal/paypal-cordova-plugin
using cli but when i click on buy now its give me error like

here is my js code

 initPaymentUI : function () {
      var clientIDs = {
//        "PayPalEnvironmentProduction": "YOUR_PRODUCTION_CLIENT_ID",
        "PayPalEnvironmentSandbox": "ASnmwxCoYqQfAIyigiMBaQGxpeZwEV1PGXqYElbYe92pbXHj68nqDtywthxx" //hre i have used my cliend id

[2014-04-02 13:39] #5 closed, assigned to nobody

[2014-04-24 19:32] Nomaq opened #6 "PayPalEnvironmentSandbox not working"
I am trying to change the

PayPalEnvironmentNoNetwork

in

 onPayPalMobileInit : function() {
      // must be called
      // use PayPalEnvironmentNoNetwork mode to get look and feel of the flow
      PayPalMobile.prepareToRender("PayPalEnvironmentSandbox", app.configuration(), app.onPrepareRender);
    },

But the app stays in "Mock Data" please any help would be apreciated

[2014-04-24 20:26] #6 closed, assigned to nobody

[2014-04-29 11:33] zakiharis opened #7 "Payment failed"
Cart item amounts total does not match sale amount.

[2014-04-29 18:00] #7 closed, assigned to nobody

[2014-04-30 02:55] zakiharis opened #8 "paypal-mobile-js-helper.js"
@romk1n I update to the latest changes, when I run cordova build, paypal-mobile-js-helper.js is not copy to the js folder automatically. I manually copy it.

[2014-04-30 03:28] #8 closed, assigned to nobody

[2014-05-01 17:50] brianhiss opened #9 "Redirect URLs and/or Callback to Server"
Is there a way to get the PayPal REST redirect_urls working with this, or am I missing something?

I wanted to not only return the response via the SDKs and Plugins, but also have PayPal respond back to the server itself via the redirect_urls, like a webhook after a payment is made.

Tried to add them into the query being sent, but not luck.  Thanks for any insight.

[2014-05-08 16:38] gsabater opened #10 "Card.io app token?"
Hi there,
I'm using your plugin to accept paypal payments through my app, but my app can't scan any of the credit cards that i have.

By looking over the internet i've found that one app token must be used in card.io scans, so i'm wondering if we must provide such token somewhere in your plugin or if its not necessary.
If yes, how can i provide it? I've not found any reference in any of the .js fi

[2014-05-08 19:19] #10 closed, assigned to nobody

[2014-05-12 14:54] giovannefeitosa opened #11 "Windows Phone Integration"
Will this plugin support Windows phone?

I'm using this plugin in a Phonegap App that needs to be multi-platform (Android, iOS and Windows Phone).

[2014-05-12 16:33] #11 closed, assigned to nobody

[2014-06-07 00:22] yanca232 opened #12 "Bug getting correlation ID Future Payments on iOS"
line 64 in PayPalMobileCordovaPlugin.m should be

if(environment) {

It's currently returning an error if the environment was parsed correctly.

[2014-06-09 16:35] #12 closed, assigned to nobody

[2014-06-16 19:32] millerc2014 opened #13 "Changing page in JQM app stops renderSinglePaymentUI from working again"
Hi all,

This a great plugin but I have a problem implementing this correctly into a Jquery Mobile Cordova/Phonegap app.

I have a button on the payment page of our app which works great.  You can click the payment button and the PayPal window opens everytime you click the button.  However, if the user clicks a button which navigates to another data-role="page" within the same app and the user nav

[2014-07-06 20:08] #13 closed, assigned to nobody

[2014-07-14 19:04] brophdawg11 opened #14 "Has this been submitted to PhoneGap Build?"
If so, any idea on if/when we can expect PG Build support?  Thanks!

[2014-07-17 07:49] yesprasoon opened #15 "Play store and App store - Is there any issue?"
There are lots of articles on third party payment related issues with the Android and iOS apps. Is there any requirement or consequence for/of using this plugin? Can I safely assume that the app will not be rejected due to this plugin by those stores. Does this comply all requirements of Play and Apple stores?

I am sorry if I sound stupid or details regarding this is written already somewhere - b

[2014-07-17 17:16] #15 closed, assigned to nobody

[2014-07-29 14:51] isieo opened #16 "IOS crashes with EXC_BAD_ACCESS"
I am having problems rendering the Single payment UI on IOS (iphone 5). Whenever i click on the buy with paypal button this happens (app closed if not attached to debugger):

EXC_BAD_ACCESS (code=1, address=0x4)

![screen shot 2014-07-28 at 5 02 31 pm](https://cloud.githubusercontent.com/assets/172893/3736547/bf68ba88-172e-11e4-874c-5cc5e5aabdb2.png)
![screen shot 2014-07-28 at 5 02 50 pm](https:/

[2014-07-29 19:25] layinka opened #17 "Is there any plans for Windows Phone/Windows"
Is there any plan for supporting Windows Phone or Windows?

I am in the process of building an app, which will be Windows centric, and i will like to take advantage of this plugin.

[2014-07-29 20:49] #17 closed, assigned to nobody

[2014-07-30 10:34] #16 closed, assigned to nobody

[2014-08-11 17:09] #14 closed, assigned to nobody

[2014-08-11 17:14] #9 closed, assigned to nobody

[2014-08-13 20:34] guysopher opened #18 "Cannot find symbol Version"
Hello,
I've downloaded and installed this plugin on my cordova project.
When I try to build the project I get this error:

<pre>
-compile:
    [javac] Compiling 4 source files to /home/guy/Projects/TreatsForLife/mobile/platforms/android/ant-build/classes
    [javac] /home/guy/Projects/TreatsForLife/mobile/platforms/android/src/com/paypal/cordova/sdk/PayPalMobileCordovaPlugin.java:67: error: cannot

[2014-08-15 03:11] shaunthomson opened #20 "Phonegap build version coming soon?"
Gidday guys

Can I add my vote for you to please submit the plugin to PhoneGap Build so us Buildies can use it to?

Cheers!

[2014-08-15 15:27] #18 closed, assigned to nobody

[2014-08-23 17:32] nmehta6 opened #21 "iOS Single Payment UI displays 'Back' and 'Cancel' buttons on top of each other"
When launching the UI for the first time on iOS 7, both of these buttons are displayed on the screen. They overlap each other.

[2014-08-25 11:36] timoabi opened #22 "not able to connect android phonegap and paypal"
hi sir/madam:
     how to connect paypal with  phonegap in android., can you give complect step by step instruction  to connect paypal and phone gap(droidgap)......

[2014-08-25 16:59] #22 closed, assigned to nobody

[2014-08-28 08:09] noureen opened #23 "Integrating the Plugin in Intel XDK"
I followed all instructions and made a Cordova project containing both platform and this plugin in plugin directory. Then I am trying to import this plugin in my Intel XDK project but on build getting "Build not successful error" . And when I remove this plugin from my project ,project gets build. Any help regarding this issue?

[2014-09-10 23:50] #21 closed, assigned to nobody

[2014-09-19 17:14] dondragon2 opened #24 "Angularjs Service & PaypalMobile"
I am trying to use this plugin with AngularJs service. I added the js files to my js directory manually because during installation they were not copied there by cordova.

[code]

Below is the service for AngularJs. When I am testing it gives me an error in the console
undefined is not a function (evaluating 'PayPalMobile.prepareToRender("PayPalEnvironmentNoNetwork", configuration(), onPrepareRend

[2014-10-05 11:09] miqmago opened #25 "Donation"
Does it support donation button? Could it be managed so the user could cancel the donation request and go back? This is the problem I'm actually facing with using the <form> solution (i've tried to make an ajax post and to make `target='someIframeName'`)

[2014-10-06 16:57] #25 closed, assigned to nobody

[2014-10-08 17:05] #24 closed, assigned to nobody

[2014-10-08 17:06] #23 closed, assigned to nobody

[2014-10-10 00:23] amritk opened #26 "Direct credit card payment not working in sandbox"
Just a heads up, Direct Credit Card payments don't work in Sandbox mode. It says

"One moment..."

For about 30 seconds, then I'm guessing it times out. You get an alert which says

"System error, Please try again later."

I ended up just testing live, and refunding the payments.

[2014-10-12 02:57] mhartington opened #27 "Include iOS and Android SDKs"
Any plans to include the android and ios sdks? I already got this together in a separate forked repo, but wanted to see if this is something you would approve of before I make the pull request.

[2014-10-15 05:05] braianj opened #28 "Implementing android plugin"
after trying unsuccessfully for more than 15 hour to implement paypal plugin into android platform, i've decided to follow the instruction step by step creating a new cordova project with the typical built in example and it's full of errors.
Can you help me?

[2014-10-15 19:14] #28 closed, assigned to nobody

[2014-10-15 21:01] braianj opened #29 "After starting android app logCat return ERROR unknown type 0x238e0a (glSizeof,73)"
when i start the app logCat return me infinit times this

10-15 20:34:18.325: W/EGL_genymotion(1255): eglSurfaceAttrib not implemented
10-15 20:34:18.385: E/eglCodecCommon(1255): ***\* ERROR unknown type 0x238e0a (glSizeof,73)
10-15 20:34:18.773: E/eglCodecCommon(1255): ***\* ERROR unknown type 0x238e0a (glSizeof,73)
10-15 20:34:18.821: E/eglCodecCommon(1255): ***\* ERROR unknown type 0x238e0a (gl

[2014-10-18 12:26] dummyltpl opened #30 "Unable to build application"
![paypal](https://cloud.githubusercontent.com/assets/9046174/4689586/0cd6b14a-56c1-11e4-9f4b-1c35c1a9f3df.png)

I follow the steps mentioned below:

Download the PayPal Android SDK.
Follow the official Cordova documentation to install command line tools and create a project.
Run cordova plugin add https://github.com/paypal/PayPal-Cordova-Plugin.
Run cordova platform add ios or/and cordova platform

[2014-10-21 10:41] sudhirconscious opened #31 "onSuccesfulPayment callback not called for Android"
The callback onSuccesfulPayment does not get called in case of Android. It is working fine for iOS, but fails to get called for Android.
I am using the sample index.js provided in Basic Example of the app. Is this an issue or do we need to do something extra in order to make it work for Android.
Following is the snippet of js::
onSuccesfulPayment : function(payment) {
      //alert does not get ca

[2014-10-21 23:38] #29 closed, assigned to nobody

[2014-10-26 22:28] josemedaglia opened #33 "How to change ClientId and merchant configuration at runtime"
Hi!

I'm developing an application that requires to pay to different merchants depending on the item, but:
- ClientId information is sent to PayPalMobile.init.
- Merchant information is sent to PayPalMobile.prepareToRender call.
- PayPalMobile.init should be called on the deviceReady event according to your examples.

How can I change/set this later at runtime?

I've tested setting it by running i

[2014-10-27 17:15] #33 closed, assigned to nobody

[2014-10-29 18:24] #26 closed, assigned to nobody

[2014-10-29 18:25] #27 closed, assigned to nobody

[2014-10-29 18:25] #30 closed, assigned to nobody

[2014-11-05 12:55] mpaluy opened #34 "How to configure Shipping Address"
I'd like PayPal to obtain shipping address from the buyer's account profile, if not set.
How to configure PayPal SDK to receive it?

Reference:
https://developer.paypal.com/docs/api/#shippingaddress-object

[2014-11-07 17:33] #31 closed, assigned to nobody

[2014-11-11 04:46] shallsaur opened #35 "Basic Example Doesn't Work"
Hi,
I have followed the instructions for the basic example.
However, when it goes in the app.initPaymentUI() method, it just stops at PayPalMobile.init.
I have error message saying that there is no init function in PayPalMobile and I have even tried changing the PayPalMobile to PayPalMobile.prototype with reference to cdv-plugin-paypal-mobile-sdk.js but it still doesn't work.
Error like "paypal co

[2014-11-11 21:13] amritk opened #36 "JSON error"
Whenever I tried to launch the paypal plugin with renderSinglePaymentUI, it kept calling the failure callback with "JSON error" with nothing in the logcat logs.

I ran across this error and tore my hair out trying to figure it out. In the end I went thought the commits and saw that you guys added the invoice number in some commits: cfbdd31a38d0e51c3ea80ad15645bc71548d2dd9, 84a678807a1977a6e581135c

[2014-11-11 21:45] #36 closed, assigned to nobody

[2014-11-11 22:22] #34 closed, assigned to nobody

[2014-11-18 18:06] #35 closed, assigned to nobody

[2014-11-27 11:13] satyendra-cis opened #37 "Integration issue"
Hi Everyone,I done the payment integration in cordova (3.5) but it is not working .I did not get any transaction in sendbox .And also it is call success but showing payment as undefined.

Can any body have an idea what the problem in that.

Many Thanks

[2014-12-06 16:02] #37 closed, assigned to nobody

[2014-12-10 13:14] webmaster-hm opened #39 "Crash in login Paypal with plugin and Paypal app installed in device"
Hi,

I have a problem with login Paypal. If I have installed Paypal app in my device, when I'm going to buy a product in my app (developed for me), the paypal cordova plugin jump to Paypal app (com.paypal.android.p2pmobile) and doesn't work to next step (confirm payment).

Log:
12-10 14:10:40.968: E/Parcel(822): Class not found when unmarshalling: com.paypal.android.sdk.payments.PayPalPayment
12-1

[2014-12-16 03:17] shallsaur opened #40 "Issues with payment using sandbox. (debug_id: 2579eb0870184 )"
I have did a round of testing using PayPalEnvironmentNoNetwork and moved to trying PayPalEnvironmentSandbox.

So I realised I can only get a UK business account to Pro, although I am in Singapore and hope that does not happen when I go live.

Now after putting in the Client ID for sandbox and leaving  "PayPalEnvironmentProduction": "production_client_id" as it is.
After pressing "Pay with Paypal"

[2014-12-17 17:58] #40 closed, assigned to nobody

[2014-12-18 21:57] amritk opened #41 "Duplicate Transaction"
I have had a few users complaining about a "Duplicate transaction" error. Does this have to do with the new invoice # that was added? And does this invoice # have to be unique? Right now I'm using their user number for it. Have not been able to duplicate the bug myself.

[2014-12-18 22:21] #41 closed, assigned to nobody

[2014-12-20 08:06] sniras opened #42 "Error: Uncaught ReferenceError: module is not defined"
Error is generated by the following line number
cdv-plugin-paypal-mobile-sdk.js:146 (anonymous function)
which is as follows:

 module.exports = new PayPalMobile(); //line that causes error

[2014-12-29 11:44] suhaschitade opened #43 "Invoice data support"
Hi, Could you please let me know how to tweak singlepaymentUI function so that I can send invoice data to paypal. As per the example given, there is single transaction only however in real world there can be n number of items added to the cart which needs to be paid

Regards,
Suhas

[2015-01-01 11:21] suhaschitade opened #44 "Undefined symbols for architecture arm64:"
I am encountering below issues when doing build for publish

Undefined symbols for architecture arm64:
  "_CVPixelBufferGetBaseAddressOfPlane", referenced from:
      +[CardIOIplImage imageFromYCbCrBuffer:plane:] in libPayPalMobile.a(libCardIO.a-arm64-master.o)
  "_CVPixelBufferGetBytesPerRowOfPlane", referenced from:
      +[CardIOIplImage imageFromYCbCrBuffer:plane:] in libPayPalMobile.a(libCard

[2015-01-01 13:20] suhaschitade opened #45 "can't locate file for: -lPayPalMobile"
I removed this plugin and reinstalled everything. now when trying to build I got above error, please let me know why this error is occurring

Regards,
Suhas

[2015-01-01 17:50] romk1n commented on #44
@suhaschitade In your project's Build Settings search for `Enable Modules (C and Objective-C)` and enable it and it should resolve this linking error. in the future version of the plugin it will be fixed.

[2015-01-01 17:51] romk1n commented on #45
@suhaschitade to properly remove the plugin and be able to reinstall it again follow this steps

[code]

[2015-01-02 02:24] suhaschitade commented on #45
Hi Roman,
Thanks. This has worked. Please close the issue

Regards,
Suhas

Sent from my Windows Phone
________________________________
From: Roman<mailto:notifications@github.com>
Sent: ‎01-‎01-‎2015 23:22
To: paypal/PayPal-Cordova-Plugin<mailto:PayPal-Cordova-Plugin@noreply.github.com>
Cc: suhaschitade<mailto:suhas.chitade@hotmail.com>
Subject: Re: [PayPal-Cordova-Plugin] can't locate file for: -

[2015-01-02 02:28] suhaschitade commented on #44
Hi Roman,
For resolving this issue, I have included CoreVideo framework in the project. It resolved all the undefined errors.
Is this ok, or should I follow your instructions.

Regards,
Suhas

Sent from my Windows Phone
________________________________
From: Roman<mailto:notifications@github.com>
Sent: ‎01-‎01-‎2015 23:20
To: paypal/PayPal-Cordova-Plugin<mailto:PayPal-Cordova-Plugin@noreply.github

[2015-01-02 17:40] romk1n commented on #44
@suhaschitade that's ok, this framework is missing from plugin.xml and hence you get linking errors when enable modules disabled.

[2015-01-03 15:44] kdmny commented on #44
Hi @romk1n - this bug breaks automated builds. Which framework is missing from plugin.xml? Thanks!

[2015-01-03 16:18] kdmny commented on #44
I learned that you can enable this from the command line using the `buildxcconfig`:

[code]

[2015-01-04 13:22] rknell commented on #42
Hello, I had a similar problem and have been tearing my hair out - It seemed that SOMETIMES a build would work - and others it would just error out.

The trick is, they have now made the cdv-plugin.....js file an actual cordova plugin - make sure you remove it from your index.html as it gets injected by the cordova system. When its in the index.html you will get the module error, and sometime it w

[2015-01-05 05:57] suhaschitade opened #46 "What is expected in clientIDs"
Hi Roman,
what is expected in client ids, everytime I got success message after doing payment on sandbox environment however with same transaction id, is this is hardcoded?

Regards,
Suhas

[2015-01-05 07:30] suhaschitade commented on #46
Now I am receiving order id as
PAY-NONETWORKPAYIDEXAMPLE123

Although I am getting success message, Paypal developer account not showing any sign of transaction happened

I have implemented calls in following way

main service to paypal

LBapp.factory('paypalServ', function(cartDataServ, orderDataServ,payCheckServ,$ionicPopup){
	var paypalServFactory = [];
	var userId="";

 	 var _initPaymentUI =

[2015-01-05 07:31] suhaschitade commented on #46
Please note there is no alert displayed when paypal UI was rendering

[2015-01-05 17:19] romk1n commented on #44
@kdmny that's the other option as well, thanks for pointing it out.

[2015-01-05 17:20] romk1n commented on #42
@rknell you right the only file one need to include is `paypal-mobile-js-helper.js` helper file as per integration instructions https://github.com/paypal/paypal-cordova-plugin#your-app-integration

[2015-01-05 17:25] romk1n commented on #46
@suhaschitade you running in no network mode hence your transaction id is always `PAY-NONETWORKPAYIDEXAMPLE123`. You should also see PayPal UI word `mock` or `sandbox` when you running in other than production(live) modes.

I notice you never put the library into sandbox mode
[code]

change `PayPalEnvironmentNoNetwork` to `PayPalEnvironmentSandbox` if you want to use sandbox or `PayPalEnvironmentP

[2015-01-05 17:25] #46 closed

[2015-01-05 18:07] suhaschitade commented on #46
Thanks Roman. I did those changes for sandbox, and called initpaymentui also, however for some strange reasons this function never get called.

Anyways. I removed reference of my file and included index.js and called functions from there everything was perfectly executed

Regards,
Suhas

Sent from my Windows Phone
________________________________
From: Roman<mailto:notifications@github.com>
Sent:

[2015-01-05 21:50] romk1n commented on #42
since there is no response from @sniras i am going to close this issue. please feel free to open it again if those tips didn't help.

[2015-01-05 21:50] #42 closed

[2015-01-05 21:50] #45 closed

[2015-01-06 19:38] Kibler88 commented on #39
Hi @braebot. I just plugged in PP SDK 2.8.4 into our app and I'm experiencing the same issue @webmaster-hm was having. When the official Android PayPal app is installed, my app's PP login screen spinner loops forever. When I deleted the PP app the login went through fine. I did this 3 times in a row with the same result. As soon as I install the PP app my app's login stops working.

With the app i

[2015-01-06 21:13] romk1n commented on #43
@suhaschitade i am happy to announce that [3.1.0](https://github.com/paypal/PayPal-Cordova-Plugin/releases/tag/3.1.0) version has been just released and supports itemization.

[2015-01-06 21:13] #43 closed

[2015-01-06 21:13] romk1n commented on #44
fixed in [3.1.0](https://github.com/paypal/PayPal-Cordova-Plugin/releases/tag/3.1.0)

[2015-01-06 21:13] #44 closed

[2015-01-07 05:57] suhaschitade commented on #43
Excellent news. Thanks Roman, will try this feature. Much needed one

Regards,
Suhas

Sent from my Windows Phone
________________________________
From: Roman<mailto:notifications@github.com>
Sent: ‎07-‎01-‎2015 02:43
To: paypal/PayPal-Cordova-Plugin<mailto:PayPal-Cordova-Plugin@noreply.github.com>
Cc: suhaschitade<mailto:suhas.chitade@hotmail.com>
Subject: Re: [PayPal-Cordova-Plugin] Invoice data

[2015-01-07 20:10] Kibler88 commented on #39
Rotating screen: no. I had my device in portrait all the time.

I was able to reproduce this issue on Nexus 5 running Lollipop and LG G3 running 4.4.2.

I'm developing in Xamarin and I wrote a binding for the Android PP SDK.
The app was run in Release with config set to EnvironmentProduction each time.

I put a filter in Device Monitor for "paypal" and the logcat is clean when set to "warn". There

[2015-01-08 19:47] romk1n commented on #20
Just to update this thread that we have released the plugin to Cordova Repository and you can simply install it using

[code]

[2015-01-13 08:51] suhaschitade opened #48 "Push notification"
Hi Roman,
Does this plugin use apple push notification

Regards,
Suhas

[2015-01-13 17:27] romk1n commented on #48
@suhaschitade plugin doesn't implement any push notification functionality. But i am curios why are you asking since it is usually a developer own choice ?

[2015-01-14 01:12] sudotong commented on #20
Is there still no hope of this plugin reaching phonegap build?

[2015-01-14 02:31] suhaschitade commented on #48
Hi Roman,
I pushed my app on app store, I received an email from apple saying that Missing push notifications entitlement. I haven't implemented push notifications, just wanted to check with you.

Regards,
Suhas

Sent from my Windows Phone
________________________________
From: Roman<mailto:notifications@github.com>
Sent: ‎13-‎01-‎2015 22:57
To: paypal/PayPal-Cordova-Plugin<mailto:PayPal-Cordova-P

[2015-01-20 00:52] jeremymlane opened #49 "Production Vulnerability"
I ran the following to initialize PayPalMobile (note, there is no production client id):

[code]

and then ran

[code]

and used my credit card and it turns out my card was actually charged to some random store and shows up on my bank history as "KINDAFOREVER 818-632-4501 CA".

There may be some kind of issue in how production client ids are used if using such a short production client id to test

[2015-01-20 02:28] romk1n commented on #49
@jeremymlane we will investigate can you please confirm what platform was it on and version information of the library in use ? Thanks.

[2015-01-20 02:30] #48 closed

[2015-01-20 16:44] jeremymlane commented on #49
@romk1n It was on iOS 8.1 using Cordova 3.7.0. I guess it probably wasn't a random store. Could it be that there's actually a real production client id of "123"? I was using version 3.1.1 of the PayPal-Cordova-Plugin, so whatever SDK version is bundled with that.

[2015-01-20 22:57] romk1n commented on #49
@jeremymlane you would get an error if the clientID doesn't exists or invalid at the preconnect time. If you not planning on doing anything with production just yet, just leave it unset. We will investigate further about "123" existence, but i am going to close this issue since SDK behavior is correct.

[2015-01-20 22:57] #49 closed

[2015-01-23 15:27] pocahentez opened #50 "paypal payment plugin with cordova on android devices"
I'm trying to use paypal payment in my cordova application. For that I used this Paypal cordova plugin exemple :https://github.com/paypal/PayPal-Cordova-Plugin. I followed all the instructions mentioned there, but I get these errors:

01-13 05:18:06.650: E/PluginManager(2112): Uncaught exception from plugin
01-13 05:18:06.650: E/PluginManager(2112): android.content.ActivityNotFoundException: Unabl

[2015-01-23 17:37] romk1n commented on #50
@pocahentez what version of the plugin are you using ? can you check the content of the `platforms/android/AndroidManifest.xml` and see if the `<activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />` is defined ?

If not try doing `cordova platform remove android` and `cordova platform add android` again.

[2015-01-24 12:37] pocahentez commented on #50
yes it exist in  my  `AndroidManifest.xml `:
  `<service android:exported="false" android:name="com.paypal.android.sdk.payments.PayPalService" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" /

[2015-01-24 13:14] pocahentez commented on #50
ok I figure out the problem. It seems like I have to call the `<script type="text/javascript" charset="utf-8" src="cdv-plugin-paypal-mobile-sdk.js"></script>` in the payment page.
Thank you for your support.

[2015-01-24 18:29] romk1n commented on #50
You shouldn't include this file anywhere since Cordova includes it automatically if you have correctly followed this instructions.

[2015-01-24 18:29] #50 closed

[2015-01-25 13:17] jadman02 commented on #20
Hey sudotong and Shaun...I haven't finished making my app but I just installed this plugin using the phonegap build service (and it seems to be working so far)

In my config.xml I put this:

<gap:plugin name="com.paypal.cordova.mobilesdk" source="plugins.cordova.io" />

Then I added the sandbox ID by going to: https://developer.paypal.com and making an app (it took literally a second to do)'

As t

[2015-02-04 16:20] #39 closed

[2015-02-04 16:32] Kibler88 commented on #39
Awesome! Thanks for keeping us posted.

[2015-02-06 03:40] marc94rc opened #51 "IPN"
There is any way to receive an notification after the payment?

[2015-02-06 18:08] romk1n commented on #51
@marc94rc yes! The best practice for receiving payment notifications would be to utilize our new [Webhook](https://developer.paypal.com/docs/integration/direct/rest-webhooks-overview/) feature.

[2015-02-06 18:08] #51 closed

[2015-02-09 12:04] cihadhoruzoglu opened #52 "iPhone 6 Plus UI Kit Crash"
Hi,

I tried this plugin on iPhone 4S, 5S & iPhone 6 Plus. On 4S & 5S it is work well. But on iPhone 6 Plus there is an error. I get this error when renderSinglePaymentUI works.

Console error;
![error-paypal](https://cloud.githubusercontent.com/assets/1528616/6105852/88e511b2-b064-11e4-922a-3d42dcb3e124.png)
2015-02-09 13:59:13.919 testApp[208:13303] bool _WebTryThreadLock(bool), 0x17420c390: Tri

[2015-02-09 16:19] romk1n commented on #52
@cihadhoruzoglu the error looks to be coming from Cordova framework itself. Can you confirm what version of the plugin, cordova version and device/simulator are you using ?

[2015-02-10 07:31] cihadhoruzoglu commented on #52
@romk1n Plugin version is 3.1.2. Cordova iOS version 3.7.0. I'm using actual iPhone 6 Plus.

I test it also on iPhone 6 and iPad Air, both of them work well.

I have not tested on simulator.

[2015-02-11 20:23] romk1n commented on #52
@cihadhoruzoglu i have tried reproducing it on iPhone 6 plus hardware and didn't observe any crashes. Can you describe exact steps and also try simulator first ? Thanks.

[2015-02-12 00:15] pablocarson commented on #20
jadman,

I'm looking through Adobe's Phonegap Build's documentation and don't see any mention of index.js, which seems to be part of the cordova Phonegap implementation. Can you confirm whether you're talking about Phonegap Build or using the term "build" generically in the context of cordova? Thanks in advance.

(btw, this is why I think Phonegap Build is a terrible name for the Adobe cloud produ

[2015-02-17 12:08] cihadhoruzoglu commented on #52
@romk1n I tried it on simulator and the result is same.

I also made an another app that follows "Basic Example of the app" steps and the result is same.

 But when I download your MyCordovaShop App (https://github.com/romk1n/MyCordovaShop) it works.

I'm using Cordova 4.2.0 cli. iOS version 3.7.0.

You can download my test app https://dl.dropboxusercontent.com/u/34956307/paypalTest.zip . This is

[2015-02-19 11:14] Declan2345 opened #53 "Integration With Ionic framework?"
Has anyone managed to successfully integrate this plugin with Ionic framework.
my app doesn't have a Index.js , creating one doesn't work.
I have tried to add the Script into the App.js also with no luck.
I am not sure how I can integrate this plugin as I can find very little documentation.

thanks any help is appreciated.

[2015-02-23 06:33] romk1n commented on #53
@Declan2345 Just follow step 2 and 3 in integration guide in [readme](https://github.com/paypal/PayPal-Cordova-Plugin#your-app-integration).

`PayPalMobile` and other objects defined [here](https://github.com/paypal/PayPal-Cordova-Plugin/blob/master/www/paypal-mobile-js-helper.js) should be available to use in any of ionic js files.

Follow the [example](https://github.com/romk1n/MyCordovaShop) to

[2015-02-23 06:43] romk1n commented on #52
@cihadhoruzoglu what do you mean by `iOS version 3.7.0` ?

[2015-02-23 07:41] cihadhoruzoglu commented on #52
When you type 'cordova platforms' on terminal it gives you Installed platforms & and versions.

![screen shot 2015-02-23 at 09 39 45](https://cloud.githubusercontent.com/assets/1528616/6324236/043076b4-bb40-11e4-9cad-fce95c08bbb7.png)

[2015-02-23 18:39] romk1n commented on #52
@cihadhoruzoglu i have reproduced it and released a version 3.1.3 of the plugin you can either update it through cordova repository or from [github](https://github.com/paypal/PayPal-Cordova-Plugin/releases/tag/3.1.3) directly. Let me know if that fixed the issue. Thanks!

[2015-02-25 07:57] Reiji87 opened #54 "Unable to run in android"
Hi,
I tried to implement the solution to my project, it works fine on the iOS but I will encounter a runtime error when executing it in android. and I've screenshot the error message.

Any help will be appreciated!
Thanks!
![screen shot 2015-02-25 at 3 55 16 pm](https://cloud.githubusercontent.com/assets/8175305/6366861/d544f2da-bd06-11e4-9efc-e7e49ce23d68.png)

Update:
I think I called the functi

[2015-02-25 18:42] romk1n commented on #54
@Reiji87 great news! Thanks!

[2015-02-25 18:42] #54 closed

[2015-02-25 19:17] #53 closed

[2015-02-25 19:18] romk1n commented on #52
I am going to close this issue, but please feel free to reopen it if the problem not resolved. Thanks!

[2015-02-25 19:18] #52 closed

[2015-02-26 02:25] Reiji87 opened #55 "Unable to callback upon successful payment and payment cancellation in Android"
Hi,

I've adapted the code from the sample. However when I tried to run it on android, upon successful payment or payment cancellation, it does not callback to the respective functions. Ive done the init in another class upon clicking a button.

I've attached my code for reference

[code]

Here's the output from logcat in eclipse:

Request code = 1
We have a callback to send this result to
[code]

[2015-02-26 06:28] Reiji87 commented on #55
Also, is it possible to call the verify payment function using the plugin?  I have made payment but everything is in pending when I look at my transaction record.

Thanks :)

[2015-02-26 18:11] romk1n commented on #55
@Reiji87 can you reproduce it with [this](https://github.com/romk1n/MyCordovaShop) sample project ?

I don't see anything wrong with the code posted above. The only idea i have is you may have more than one `paymentObj` and cordova cannot find the function to callback on ?

With regards to your 2nd question: The payment verification must be done on your server and hence plugin cannot offer this fu

[2015-02-27 03:06] Reiji87 commented on #55
Hi romk1n,
Thanks! Will look into those! :)

[2015-03-02 12:13] Reiji87 commented on #55
https://developer.paypal.com/docs/integration/direct/make-your-first-call/
Im looking at this.. there are things I dont quite understand.
I know this is not that nice, but Im trying to find a sample for C#? But I cant seem to find anything related, hope I can get some help from here.

Thanks in advance! :)

[2015-03-02 14:53] Declan2345 opened #56 "Failed JSON Plugin"
Hi Im having issues with the implementation of this plugin.

I am getting a message saying

2015-03-02 14:47:37.926 myapp[37783:80b] CDVPlugin class PayPalMobileCordovaPlugin (pluginName: PayPalMobile) does not exist.
2015-03-02 14:47:37.927 myapp[37783:80b] ERROR: Plugin 'PayPalMobile' not found, or is not a CDVPlugin. Check your plugin mapping in config.xml.
2015-03-02 14:47:37.927 myapp[37783:8

[2015-03-02 15:31] #56 closed

[2015-03-02 15:32] Declan2345 commented on #56
I had to delete and Reinstall the project and upgrade to the latest iOS version.

[2015-03-02 17:37] romk1n commented on #55
@Reiji87 It looks to me that your original issues is fixed now. If you looking at integrating server side calls in C# checkout out [PayPal SDK for .NET](https://github.com/paypal/PayPal-NET-SDK)

[2015-03-02 17:37] #55 closed

[2015-03-02 18:42] romk1n commented on #20
@pablocarson the @jadman02 is right. reference to `index.js` is just simply an example on how to use the plugin. You can use it in any of your `.js`. files.

[2015-03-02 18:44] romk1n commented on #20
I am also closing this issue since we have now uploaded the plugin to plugins.cordova.io . To use it just add to your config.xml:

`<gap:plugin name="com.paypal.cordova.mobilesdk" source="plugins.cordova.io" />`

For more details checkout out here http://docs.build.phonegap.com/en_US/configuring_plugins.md.html#Plugins

[2015-03-02 18:44] #20 closed

[2015-03-05 08:48] Reiji87 commented on #55
@romk1n, Thanks! I think i found out what is happening, it seems like its as sandbox feature to hold the payment, i tried it in the production and it is not happening! :)

[2015-03-05 09:06] Vincenttbk opened #57 "Possible to have a few merchant to pay?"
Hi,

Im trying to direct payments to  different merchants.

Trying to direct to company1:
What I did over here is, I did an init of the payment, which includes specifying the App ID and Ssandbox ID and I did a rendering of Single Payment. Everything seems to be working fine.

Trying to direct to company2:
so after making payment, Im trying to direct the payment to another company, so I did an init

[2015-03-09 18:09] romk1n commented on #57
@Vincenttbk please see this [issue](https://github.com/paypal/PayPal-iOS-SDK/issues/140) for the information.

[2015-03-12 14:20] cihadhoruzoglu opened #58 "iOS Crash when adding invoiceNumber"
Hi,

When we add invoiceNumber to the payment then iOS crashed.

Sample Code;
[code]

![screen shot 2015-03-12 at 16 16 29](https://cloud.githubusercontent.com/assets/1528616/6619489/34888c5c-c8d3-11e4-8706-a58937b07849.png)

2015-03-12 16:14:40.157 CicekSepeti[800:147913] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[__NSCFNumber length]: unrecognized sele

[2015-03-12 15:49] romk1n commented on #58
@cihadhoruzoglu can you try and see if you can reproduce the same issue if you force convert to string ?

`payment.invoiceNumber(String($scope.order.orderId));`

The crash seems to happen when we check if the payment is processable and expects some property to be `NSString` but is getting `NSNumber`.

[2015-03-12 16:09] cihadhoruzoglu commented on #58
@romk1n Thank you! It works right now :)

[2015-03-12 16:50] romk1n commented on #58
@cihadhoruzoglu great!

[2015-03-12 16:50] #58 closed

[2015-03-17 10:55] JulianvanEck opened #59 "Android app stops working"
Hi. I am experiencing an issue on Android devices where the app stops working as soon as I try to render the paypal UI.

[2015-03-18 01:25] omaisali commented on #59
I have same issue with Cordova .
App stops when click on Paypal button.

[2015-03-18 01:28] omaisali opened #60 "App stopped when click paypal button"
App Stops when click on Paypal button.
I am using Cordova version 4.2.0

TypeError: window.PayPalMobile is undefined

[2015-03-18 02:01] romk1n commented on #60
@omaisali please specify plugin version and also console logs. Thanks!

[2015-03-18 02:19] romk1n commented on #59
@JulianvanEck @omaisali in addition to what @braebot has asked can you also see if you can reproduce the same behavior with the sample app [here](https://github.com/romk1n/MyCordovaShop) Thanks.

[2015-03-18 02:22] omaisali commented on #60
com.paypal.cordova.mobilesdk 3.1.4 "PayPalMobile"

D/CordovaActivity( 7913): onMessage(onPageFinished,file:///android_asset/www/pay
ment.html)
D/CordovaLog( 7913): file:///android_asset/www/js/payment.js: Line 43 : Uncaught
 TypeError: Cannot call method 'querySelector' of null
D/CordovaActivity( 7913): Paused the application!
D/CordovaWebView( 7913): Handle the pause

[2015-03-18 02:25] romk1n commented on #60
@omaisali can you try first fixing the issue reported in the log ?
[code]

[2015-03-18 02:28] omaisali commented on #60
i dont have idea about this issue. but let me try if i can,

[2015-03-18 02:32] omaisali commented on #60
I solved that issue, Now the log is

D/CordovaLog(13639): file:///android_asset/www/plugins/com.paypal.cordova.mobile
sdk/www/cdv-plugin-paypal-mobile-sdk.js: Line 60 : The provided environment is n
ot supported
D/CordovaActivity(13639): Paused the application!
D/CordovaWebView(13639): Handle the pause

[2015-03-18 02:39] omaisali commented on #60
Ok thanks. I solved it.

in these lines of code
function onPayPalMobileInit () {
                window.PayPalMobile.prepareToRender(
                  "PayPalEnvironmentSandbox", // <===here was entering my sandbox client id directly //which caused the issue.

[2015-03-18 02:50] romk1n commented on #60
@omaisali great find!

[2015-03-18 02:50] #60 closed

[2015-03-18 04:09] JulianvanEck commented on #59
@braebot @romk1n I am using Sencha Touch 2.3 with this plugin. I have basicly used the sample code exactly as it is and added the following in my config.xml:
<gap:plugin name="com.paypal.cordova.mobilesdk" source="plugins.cordova.io" version="3.1.4" />
I also added the following to my index.html file:
 <script type="text/javascript" src="resources/js/paypal-mobile-js-helper.js"></script>
I make us

[2015-03-18 06:46] JulianvanEck commented on #59
@braebot @romk1n Hi guys. I suspect the problem came from me only sending two parameters to the prepareToRender function.Thanks for your assistance.

[2015-03-18 10:29] Declan2345 opened #61 "Can't Launch on Sub pages"
I have been trying to Implement this plugin into my app,but can only seem to get anything to happen on the First page of my app.

The plugin works fine on startup, and I can use the paypal services as long as I am on the first page of the app.

however if it try to move the button onto one of my subpages the button no longer works.
I have tried to copy the scripts to the page and also included the

[2015-03-19 04:35] romk1n commented on #61
@Declan2345 can you provide more details ? Thanks.

[2015-03-19 12:09] Declan2345 commented on #61
Hi romk1n,
I am using the Ionic framework specifically the side menu Template.

when my app loads up via the app.js the First page loaded is playlists.
which is under 'www/templates/playlists'.
on this initial page load I have full use of the plugin.
however if I navigate to another page for instance browse ('www/templates/browse')
I am unable to use the plugin on this subpage.

the buttons no lon

[2015-03-19 18:33] romk1n commented on #61
@Declan2345 unfortunately i didn't use `ionic` and maybe it would be worth asking at their forums? can you build a sample code and share it somewhere on the github so it is possible to have a look?

[2015-03-20 09:47] Declan2345 commented on #61
Hi I have created a repository here https://github.com/Declan2345/Issues-with-ionic-and-paypal-cordova-plugin.
It is just the basic ionic template with the buttons on the Starting Page and also on the browse page of the app.
Im not sure If i am missing something obvious as I am new to phonegap and don't really have a wealth of experience behind me.
However i have spent some time tinkering and foun

[2015-03-20 13:46] romk1n commented on #59
@JulianvanEck great!

[2015-03-20 13:46] #59 closed

[2015-03-20 14:53] romk1n commented on #61
@Declan2345 you need to follow `angular.js` pattern [Ionic guide](http://ionicframework.com/docs/guide/preface.html). First of all you shouldn't use index.js. Take this example as base and rename `app` to something else. It can be your wrapper around PayPal functions. Lets say `PayPalApp` for now.

For Browse, you need to specify what controller is used for this view. For example inside of the `ap

[2015-03-20 14:53] #61 closed

[2015-03-21 11:18] gtoto007 opened #62 "The Configuration Object is not set on the first login"
I noticed a strange behavior.

I set the configuration object with various information, including information relating to the shipping and acceptCreditCards = false.

The configuration object appears to be ignored if you do the first time the login account paypal. In fact the first two screens you can see that it does not appear any information about the shipping address and credit card is shown.

[2015-03-21 13:58] juszczec opened #63 "crash in PayPal plugin"
hello

research shows this happened before as reported in:

https://github.com/paypal/PayPal-Cordova-Plugin/issues/52

i have upgraded to version 3.1.4 per the comments in the issue report above but the problem still happens.

the error:

2015-03-21 08:30:42.816 MyCordovaShop[830:4707] bool _WebTryThreadLock(bool), 0x14df2870: Tried to obtain the web lock from a thread other than the main thread o

[2015-03-21 15:52] romk1n commented on #62
@gtoto007 try setting two breakpoints [here](https://github.com/paypal/PayPal-Cordova-Plugin/blob/master/src/ios/PayPalMobileCordovaPlugin.m#L233) and [here](https://github.com/paypal/PayPal-Cordova-Plugin/blob/master/src/ios/PayPalMobileCordovaPlugin.m#L135) and check if the values you expect are being set.

[2015-03-21 16:03] romk1n commented on #63
@juszczec that's weird all the UI presentation should happen on the main thread. Try setting a few breakpoints and check when it happens  [here](https://github.com/paypal/PayPal-Cordova-Plugin/blob/master/src/ios/PayPalMobileCordovaPlugin.m#L145) and [here](https://github.com/paypal/PayPal-Cordova-Plugin/blob/master/src/ios/PayPalMobileCordovaPlugin.m#L314) and [here](https://github.com/paypal/Pay

[2015-03-21 16:10] gtoto007 commented on #62
Thanks for the reply.

I have checked and data shippingAddress and Configuration are set correctly as you can see from the screenshot.
*****SHIPPING ADDRESS*****
![schermata 2015-03-21 alle 17 06 18](https://cloud.githubusercontent.com/assets/6715157/6765741/05c19028-cfed-11e4-90d9-7f3d0d3228e8.png)

****CONFIGURATION OBJECT **********
![schermata 2015-03-21 alle 17 07 17](https://cloud.githubuser

[2015-03-21 19:13] juszczec commented on #63
@romk1n something isn't right.  my source file doesn't match the one shown in your links.

my lines:

145:    }];

314:- (void)payPalPaymentViewController:(PayPalPaymentViewController *)paymentViewController didCompletePayment:

320:  }];

i'm not sure what's wrong.  i updated to 3.1.4 last night.  the comment at the top of the file shown in your link says "romk1n 26 days ago update version to 3.1

[2015-03-21 19:27] romk1n commented on #63
@juszczec you need first to remove plugin and then install try it like this

[code]

[2015-03-21 20:00] juszczec commented on #63
i have done so and now i'm getting the errors below which is odd because 3.1.3 worked just fine.

Marks-MacBook-Pro:MyCordovaShop markj$ cordova build ios
Running command: /Users/markj/MyCordovaShop/platforms/ios/cordova/build
Build settings from command line:
    ARCHS = i386
    CONFIGURATION_BUILD_DIR = /Users/markj/MyCordovaShop/platforms/ios/build/emulator
    SDKROOT = iphonesimulator8.2

[2015-03-21 20:02] romk1n commented on #63
@juszczec those are linking errors. try also removing and re-adding platform `cordova platform remove ios` `cordova platform add ios`

[2015-03-21 20:10] juszczec commented on #63
i apologize.  i had botched up the update from 3.1.3 to 3.1.4

everything is working now.

thank you very much and sorry for wasting your time

[2015-03-21 20:58] romk1n commented on #63
@juszczec can you still reproduce original issue ?

[2015-03-21 21:02] romk1n commented on #62
@gtoto007 can you attach the screenshot for the configuration object created and not the dictionary ? Thanks!

[2015-03-22 05:59] romk1n commented on #62
@gtoto007 i am trying to reproduce it, but everything works fine for me. can you also try reproducing [this](https://github.com/romk1n/MyCordovaShop) sample code ?

[2015-03-22 15:27] juszczec commented on #63
i cannot reproduce the issue since upgrading to 3.1.4

when i reported the issue, i thought i had upgraded to 3.1.4

i was mistaken.  i made a mistake upgrading to 3.1.4, that's why my source didn't match your link.

once i upgraded properly, the problem went away.

[2015-03-22 17:41] romk1n commented on #63
@juszczec great!

[2015-03-22 17:41] #63 closed

[2015-03-22 17:43] juszczec commented on #63
sorry about wasting your time and thank you for all the help

On Sun, Mar 22, 2015 at 1:41 PM, Roman <notifications@github.com> wrote:

[2015-03-25 02:47] myc0210 opened #64 "Is there any way to display item list when renderSinglePaymentUI?"
Can anyone tell me is there any way to list items while calling renderSinglePaymentUI. I have already add
\* var items = [];
    items.push(new PayPalItem("product 1", "1", "25.00", "SGD", "P01"));
    items.push(new PayPalItem("product 2", "2", "12.50", "SGD", "P02"));
    payment.items(items); *\
to the createPayment function and these two items have already be put inside the transaction which i

[2015-03-25 02:51] romk1n commented on #64
@myc2010 no. it is responsibility of the app developer to show the items before taking the user to make the purchase. The items will be shown in the receipt PayPal sends. Thanks.

[2015-03-25 02:51] #64 closed

[2015-03-25 05:48] myc0210 commented on #64
@romk1n but the mobile express checkout also list those items at top of the page when make purchase. It is different implement from the mobile sdk? I just want to give hint to customer since he need to log in to paypal and then see the checkout information. There is a gap. Thanks for the help.

[2015-03-25 06:03] romk1n commented on #64
Express checkout is a different product and there are no plans to support displaying itemised items in the SDK. Sorry

[2015-03-25 06:35] myc0210 commented on #64
Ok. Thanks.

[2015-03-25 12:22] kalyanpkumar opened #65 "Paypal not working with other plugin - opentok for video call in android.."
Hi Team..

We are using the Paypal phonegap plugin for our phonegap application.We are also using opentok phonegap plugin for video call.

with these both plugins, app works fine in iOS but not in Android.

1. We created a fresh phonegap project and had added the opentok plugin...
2. Then we see the app working with video in Android.
3. We added paypal plugin.
4. The app stopped working.. we dont

[2015-03-25 15:25] romk1n commented on #65
@kalyanpkumar can you please create a sample code on github and share the repository so we can have a look. Also, please confirm the version of the plugin you tried and what Android setup you have. In addition please share the logcat output when the app is running. Thanks!

[2015-03-27 12:16] kiempoturner opened #66 "include payer details"
Hi, first of all, your plugin rocks. Im still confused on how to include payer details . I tried it on Sandbox.

As you can see here, there name field is `null` :
![screen shot 2015-03-27 at 8 13 27 pm](https://cloud.githubusercontent.com/assets/6310473/6867527/0249c156-d4be-11e4-828d-46ca58a0ec41.png)

[2015-03-27 15:01] ppmtscory commented on #66
@kiempoturner The name does not appear for a credit card payment as there's currently no implementation to allow it to be entered or passed through.  Closing this now since the feature is already being tracked with [this issue](https://github.com/paypal/PayPal-iOS-SDK/issues/185).

[2015-03-27 15:01] #66 closed

[2015-04-01 04:49] roysG opened #67 "i get always specific error: "The client credentials are invalid""
PayPal SDK: Request has failed with error: invalid_client - שגיאת מערכת (invalid_client‏). נסה שוב מאוחר יותר. (401) | PayPal Debug-ID: 8274a1db2b8d8 [sandbox, PayPal iOS SDK 2.8.5] | Details: (
        {
        "error_description" = "The client credentials are invalid";
    }
).

I putted the correct client key for both sandbox and live.
Why does it happen ?
What i am missing ?

[2015-04-01 14:07] roysG commented on #67
some response ?

[2015-04-01 16:42] romk1n commented on #67
@roysG sandbox sometimes can be have intermittent issues. Can you please make sure that you have put the client id correctly from the developer.paypal.com portal for both sandbox and live. If the problem persists, can you also try using this sample app [here](https://github.com/romk1n/MyCordovaShop). Make sure you change this [line](https://github.com/romk1n/MyCordovaShop/blob/master/www/js/index.

[2015-04-02 04:48] roysG commented on #67
It Works !!
I was problem on my client sandbox token.
two last questions, if i want to go live, what should i need to change in the line:

payPalMobile.prepareToRender("PayPalEnvironmentSandbox", paypal.configuration(), paypal.onPrepareRender);

and the second thing, if i want to go live, in text next few hours, do i need to submit to paypal my app and get some approval from them or i just can go

[2015-04-02 06:11] #67 closed

[2015-04-02 19:34] romk1n commented on #67
@roysG great you figured it out.

[2015-04-13 01:52] Vincenttbk commented on #57
Thank you romk1n :)

[2015-04-13 17:06] khinze opened #68 "App crashes working when in sandbox mode"
Hi Guys,

I have an existing angular app using phonegap cordova. As soon as I switch my environment to PayPalEnvironmentSandbox the app crashes. Could anyone point me in right direction to see what I am doing wrong
//PayPalEnvironmentSandbox
 var environment = "PayPalEnvironmentNoNetwork";
    var merchantId = "*";
    var apiKey = "*";
    var paypalClientId = "my client id I see on the paypal sa

[2015-04-13 17:20] romk1n commented on #68
@khinze can you please provide console log output ? It looks like you trying to use future payments functionality if that's the case the `merchantPrivacyPolicyURL` and `merchantUserAgreementURL` must be valid URLs. For details message we will have to see the log. Thanks.

[2015-04-13 17:23] romk1n commented on #68
@khinze also `PayPalMobile.init(clientIDs, mobileInit("45.00", 'example'));` doesn't seem right. the 2nd argument takes a callback function to notify the `init` has finished.

Also bare in mind the in future payment functionality all payments must happen from the server not from the mobile app.

[2015-04-13 17:36] khinze commented on #68
@romk1n Thanks for the response. merchantPrivacyPolicyURL and merchantUserAgreementURL I didnt enter valid urls. Dumb question, can I just create a random html page and host it and link it to it for testing purposes? PayPalMobile.init(clientIDs, mobileInit("45.00", 'example')); I will provide you with console output. Basically we trying set up recurring payments via braintree. We need the user to

[2015-04-13 17:45] khinze commented on #68
PayPalMobile.init(clientIDs, mobileInit());

[2015-04-13 17:46] khinze commented on #68
var mobileInit = function(){
        alert('opening');
        PayPalMobile.prepareToRender(environment, configuration(), function(){
            alert('redering');
            PayPalMobile.renderFuturePaymentUI(onAuthorized, onExited);
        });
    };

[2015-04-13 18:50] drdalziel opened #69 "App crashes after upgrading to iOS 8.3"
Is there an issue with the plugin and iOS 8.3? I was able to make payments from my PayPal sandbox account before upgrading, now my App crashes whenever I hit the line var payment = new PayPalPayment("50.00", "USD", "Awesome Sauce", "Sale", paymentDetails);

[2015-04-13 19:02] romk1n commented on #68
@khinze in that case you shouldn't call `mibileInit()` just pass it the name `PayPalMobile.init(clientIDs, mobileInit);` also please submit the actual log. Thanks

[2015-04-13 19:04] romk1n commented on #68
For testing you can just point to any valid website, even it it doesn't exists but it needs to be a valid url i.e. `https://paypal.com/privacy.html`

[2015-04-13 19:07] romk1n commented on #69
@drdalziel can you please paste crash log you get from console ? Thanks.

[2015-04-13 19:43] khinze commented on #68
Thanks. I've been using console.log. Don't know how to get the actual stack trace. Ill figure this out tomorrow and get back to you. The app also crashes when it gets to prepareToRender on ios, however on android it loads when in PayPalEnvironmentNoNetwork. I changed the url  to https://paypal.com/privacy.html it still crashes when in sandbox mode.

[2015-04-13 19:53] romk1n commented on #68
@khinze you can also load project in Xcode and try running to see where the crash is. without crash stack i am running out of the ideas what maybe wrong.

[2015-04-13 19:54] drdalziel commented on #69
Hope this is what you're looking for, I can post the entire log if needed:

Incident Identifier: 70093F10-A7C0-4789-9BFF-3CFB7FB7009D
CrashReporter Key:   171d80c02a7a514ee1d803f2ed8f9340ae8b9899
Hardware Model:      iPhone6,1
Process:             CQProducts [398]
Path:                /private/var/mobile/Containers/Bundle/Application/60D9D9B4-1D38-4FB5-8E55-399A3C68D97D/CQProducts.app/CQProducts
I

[2015-04-13 20:04] romk1n commented on #69
@drdalziel can you run your application in the debug mode it doesn't seem to show any crash in the PayPalLibrary but something in the actual `CQProducts`

[2015-04-13 21:07] drdalziel commented on #69
The phonegap debugger doesn't show any errors. The Safari Web Inspector says it can't find jquery.mobile.min.map and jquery.min.map. Otherwise it crashes along with the app so I can't see what is happening when the crash occurs.

[2015-04-13 21:39] romk1n commented on #69
@drdalziel go to `platforms/ios` you should see a file with `.xcodeproj` extension i guess something like `CQProducts.xcodeproj` if you open it is should launch Xcode. Just make sure you ran `cordova build ios` before. Than click Run in Xcode, it should show you where the app is crashes.

If you project uses `jQuery` and you seeing errors it may very well be a problem of the crash which you need t

[2015-04-14 13:31] drdalziel commented on #69
Ok, I'll see what I can find out. Thanks for your help!

[2015-04-14 18:44] khinze commented on #68
@romk1n I removed the plugin and re added it. I also removed the platforms from cordova and readded them. The plugin is working now in sandbox mode . Not sure what was  wrong.

[2015-04-15 12:25] romk1n commented on #68
@khinze great you figured it out! when updating to new version you would normally have to remove plugin first before adding it.

[2015-04-15 12:25] #68 closed

[2015-04-15 12:26] romk1n commented on #62
@gtoto007 since there was no activity on this issue i am going to close it. Please feel free to re-open it with more information!

[2015-04-15 12:26] #62 closed

[2015-04-15 14:48] drdalziel commented on #69
The solution seems to be that the instructions on the Phonegap site show to add this: <gap:plugin name="com.paypal.cordova.mobilesdk" version="3.1.2" /> to the config.xml file. Changing this to: <gap:plugin name="com.paypal.cordova.mobilesdk" source="plugins.cordova.io" /> fixed my issue with iOS 8.3. It looks like I am now using the most recent plugin version.

[2015-04-20 06:08] Vincenttbk opened #70 "Set Payment Timeout duration?"
Hi,

Is there anyway using the SDK to set a timeout where I can just cancel the payment in a certain duration and go back to my previous page?

Thanks :)

[2015-04-20 18:20] romk1n commented on #70
@Vincenttbk unfortunately there is no way to do it :(

[2015-04-20 18:20] #70 closed

[2015-04-21 01:20] Vincenttbk commented on #70
Oh, alright. Thank you :)

[2015-04-29 15:26] mtriponi opened #71 "Payment Status"
When Plugin execute app.onSuccesfulPayment(). If state == approved,

It means that the payment was approved and there is no way to be canceled?

Can enter by the app.onSuccesfulPayment () and Payment not completed?

thanks you

[2015-04-29 15:28] romk1n commented on #71
@mtriponi i am sorry i don't think i understand what the question is. what `state` are you referring to ? state of the payment when you did validation ?

[2015-04-29 15:41] mtriponi commented on #71
Thanks for your answer.

I Have:
buyNowBtn.onclick = function(e) {
            // single payment
            PayPalMobile.renderSinglePaymentUI(app.createPayment(), app.onSuccesfulPayment,
                                               app.onUserCanceled);
};

When the user complete the Payment, the plugin execute the callback "app.onSuccesfulPayment" and I can see state. In this point, I will reg

[2015-04-29 15:44] mtriponi commented on #71
I need to be sure that the customer paid to enable purchase in my android application.

[2015-04-29 16:45] romk1n commented on #71
@mtriponi got it. state won't change. there are a number of values to the state property and some require you to go and review the payment to payment before acceptance, but user can no longer cancel it. For more information see https://developer.paypal.com/webapps/developer/docs/api/#look-up-a-payment-resource

[2015-04-29 16:45] #71 closed

[2015-04-30 13:55] joomlaevolved opened #72 "Extra paypal configuration"
Hi,

I am developing an app for one of my clients and I am trying to use the paypal condova plugin in a phonegap environment.

Once I call the PayPalMobile.renderSinglePaymentUI function, the application hangs and I get in the logat, the follwing errors:

04-30 16:47:12.121: W/paypal.sdk(19813): PayPalService created. PayPalSDK/PayPal-Android-SDK 2.8.8 (Android 4.1.2; LGE LG-E410i; )
04-30 16:47:1

[2015-04-30 15:18] romk1n commented on #72
@joomlaevolved are you able to reproduce it with this sample code https://github.com/romk1n/MyCordovaShop ?

[2015-04-30 16:05] #69 closed

[2015-04-30 16:06] romk1n commented on #72
@joomlaevolved we have also updated to new version of the plugin today with Android SDK version 2.9.3 which resolved quite a number of crashes. Would you also mind trying to reproduce it with new version ? Thanks.

[2015-04-30 16:39] KeKs0r opened #73 "A plugin in your app does not support the compulsory arm64 (64-bit support) architecture."
Hi,

I wanted to play around with the Paypal Plugin, but adding it to my App is causing the iOS Build on PhoneGap build to fail with the following error message:

`Error - A plugin in your app does not support the compulsory arm64 (64-bit support) architecture`

My config.xml contains the following plugins:
[code]

[2015-04-30 16:47] romk1n commented on #73
@KeKs0r the iOS version of mobile sdk definitely has arm-64 support. you can double check that by running

[code]
are you sure it is the `com.paypal.cordova.mobilesdk` it is complaining about ?

[2015-04-30 16:52] romk1n commented on #73
@KeKs0r can you confirm what Xcode version are you using as well?

[2015-04-30 17:01] KeKs0r commented on #73
I am using no Xcode at all. I am just using PhoneGap Build.
And it must be this plugin, since its the only one I added. But I think its actually not the problem that this plugin doesn't support it, but rather that it supports it.

If I use an older version (also from Phonegap Build instead of cordova.io) it works:
`<gap:plugin name="com.paypal.cordova.mobilesdk" version="3.1.2" />`

[2015-04-30 18:24] drdalziel commented on #73
adding version="3.1.6" causes Phonegap Build to throw the error: plugin unsupported: com.paypal.cordova.mobilesdk @ 3.1.6

[2015-04-30 18:47] romk1n commented on #73
@drdalziel arm64 support was there since the beginning. phone gap build maybe using Xcode 6.2 and obfuscates the real error, please try version 3.1.6

[2015-04-30 18:48] romk1n commented on #73
@drdalziel it should be available now through the registry.

[2015-04-30 19:05] drdalziel commented on #73
It builds now with no errors. Thanks!

[2015-04-30 20:37] joomlaevolved commented on #72
Thank you for the quick response, I will try it today and let you know!

[2015-05-01 08:13] joomlaevolved commented on #72
I get the same error. I will try now your example project to check if it is my configuration and let you know.

[2015-05-01 11:10] joomlaevolved commented on #72
Hi, I founded,

Client Ids or  configuration (no sure now - ;-) ) where null before initing the PaypalMobile.
I had to create some callback functions in order to make sure that the data where initialised before calling the init function.

Thank you, and sorry for the hassle.

[2015-05-01 14:56] romk1n commented on #72
@joomlaevolved great you figured it out!

[2015-05-01 14:56] #72 closed

[2015-05-01 14:57] romk1n commented on #65
Since there were no further updates to the issue i am going to close it. Feel free to re-open it with more details.

[2015-05-01 14:57] #65 closed

[2015-05-01 14:59] romk1n commented on #73
@KeKs0r have you managed to reproduce the issue with new build ?

[2015-05-04 10:50] KeKs0r commented on #73
I solved it by using different config and the plugin from the build.phonegap service.

`<gap:plugin name="com.paypal.cordova.mobilesdk" version="3.1.6" />`

[2015-05-04 14:52] KeKs0r opened #74 "Directly navigate into payment with credit card & Paypal"
Hi,

I want to implement credit card payment as well as normal paypal payment. Since I also have prepay as payment option I would like to show all 3 options (credit card, paypal, prepay) in my own app. But as far as I understood this plugin, there is no option to directly navigate into the credit card or paypal login screen of the payment UI?

I know there is a option to disable creditCard Payment

[2015-05-04 16:44] romk1n commented on #73
@KeKs0r great. when using phone gap build that's the right way as shown in our [readme](https://github.com/paypal/PayPal-Cordova-Plugin#phonegap-build)

[2015-05-04 16:44] #73 closed

[2015-05-04 16:47] romk1n commented on #74
@KeKs0r that's correct the only 2 options you can have is credit card or PayPal. There is no way to customize it to show 3rd option.

[2015-05-04 16:47] #74 closed

[2015-05-04 16:49] KeKs0r commented on #74
I did not want to add my third option into the paypal plugin. I wanted to directly navigate into either Credit Card option or the paypal option. But I am afraid there is no option that can be passed to `PayPalMobile.renderSinglePaymentUI`

[2015-05-04 16:59] romk1n commented on #74
@KeKs0r sorry for misunderstanding your question. We don't have such functionality. However, if the user has selected credit card in the past it will be remembered, so the user doesn't need to supply his credit card again. Unfortunately in the case of PayPal they would still will have to click on PayPal and login. Hope it helps.

[2015-05-04 17:18] KeKs0r commented on #74
Ok thanks for the clarification. In that case my user will have to live with an additional click.

[2015-05-04 18:17] jollysean opened #75 "Integration Issue with Sencha Javascript: uncaught exception 'PayPalIncompleteIntegration', reason: 'preconnectWithEnvironment was called without a preceding call to initializeWithClientIdsForEnvironments:'"
Hi,

I am trying to integrate this plugin with Sencha Touch 2 using Javascript as per the given documentation. But I get the following error.

Can someone please guide for right way to do it.

TIA.
------------------------------------------------------------------------------------------
2015-05-04 23:18:33.652 OrgJS[2341:84525] *** Terminating app due to uncaught exception 'PayPalIncompleteIntegr

[2015-05-04 18:34] romk1n commented on #75
@jollysean did you check the sample app? as error says you need to call `PayPalMobile.init`

[2015-05-05 09:53] KeKs0r opened #76 "App Crashes when rendering Payment UI on iOS"
Hi,

i have looked into the issues of the plugin and it seems that there are some occasions when the app crashes. Unfortunately I have no idea what causes it. I have tried several Versions of this plugin. And since I am using PG Build I don't have access to any logs from native. Only thing I could get from xcode is the following:

https://gist.github.com/KeKs0r/73c040afc4b4b5e0cc5f

I really don't

[2015-05-05 16:35] romk1n commented on #76
@KeKs0r unfortunately without symbols files it is hard to say what exactly happened. Although you are using phone gap build it shouldn't stop you to be able to run your app locally (provided you have a mac). Is that something you can do ?

[2015-05-05 21:50] KeKs0r commented on #76
I turned out that I was using the shipping address wrong. Unfortunately
this kind of issue is very hard to find, since the app immediately crashes.
And with phonegap build I did not have better logging.

On 5 May 2015 at 18:35, Roman <notifications@github.com> wrote:

[2015-05-05 21:56] romk1n commented on #76
@KeKs0r glad you figured it out. Can you provide the example on what have you been sending ?

also if you want to submit a pull request how this issue could have been caught earlier we would really appreciate it!

[2015-05-11 18:03] roysG opened #77 "i get error "pp_service_error_bad_currency paypal" on production"
When i am trying to make transaction from typing credit card option, i get the message:
"pp_service_error_bad_currency paypal"
I am using israel currency.

[2015-05-11 18:15] romk1n commented on #77
@roysG can you please provide the sample of the actual payment you trying to send to the api. Thanks. Also the console log should have a `debug-id` and full message description.

[2015-05-11 21:13] #76 closed

[2015-05-11 21:13] #75 closed

[2015-05-11 21:13] romk1n commented on #75
please open an issue if the problem persists.

[2015-05-12 04:20] roysG commented on #77
2015-05-12 07:22:33.178 picktags[318:90711] PayPal SDK: Request has failed with error: pp_service_error_bad_currency - This currency is not presently supported. (400) | PayPal Debug-ID: 632bf4b2596b1 [live, PayPal iOS SDK 2.8.5] | Details: (
        {
        field = "transactions[0].amount.currency";
        issue = "Value is not supported at this time";
    }
).

[2015-05-12 17:33] dgoldman-ebay commented on #77
@roysG please see our discussion of currencies [here](https://github.com/paypal/PayPal-iOS-SDK#currencies).

As noted there (and also [here](https://developer.paypal.com/webapps/developer/docs/integration/direct/rest_api_payment_country_currency_support/#direct-credit-card-payments)), the only currencies that PayPal supports for credit card payments are `USD`, `GBP`, `CAD`, `EUR`, and `JPY`.

[2015-05-12 17:33] #77 closed

[2015-05-12 17:34] #57 closed

[2015-05-12 18:21] roysG opened #78 "i get failed message "UNAUTHORIZED_PAYMENT""
I am trying to purchase 1$, by typing credit card, but this is what i get:

PayPal SDK: Request has failed with error: UNAUTHORIZED_PAYMENT - The merchant does not accept payments of this type. (401) | PayPal Debug-ID: 76d1a752d81d8 [live, PayPal iOS SDK 2.8.5]

[2015-05-12 19:31] romk1n commented on #78
@roysG is your merchant account registered in US or UK ? If not you have to get approval as described on this page https://developer.paypal.com/docs/integration/direct/rest_api_payment_country_currency_support/#direct-credit-card-payments

[2015-05-18 15:50] KeKs0r commented on #76
@romk1n: I am again facing similar issues. This time it seems to work fine on the "javascript" side. How can I access the "symbol" files in order to investigate this. (This is somehow urgent, since the issue made it into our production app :cry:  )

[2015-05-18 16:27] romk1n commented on #76
@KeKs0r unfortunatley i am not familiar with Phonegap Build to know. The `.dsym` file is produced along with `.ipa`. You still will require to open Xcode to analyze it. Have you tried reproducing the crash yourself using Xcode ?

[2015-05-18 16:46] KeKs0r commented on #76
Unfortunately not. I have never worked with xcode and are ver unfamiliar with native app development (Hence the usage of PG Build) . I could fix it somehow with change versions of the plugin. This seems to be very flaky. Since I changed the version of the plugin back and forth sometimes working sometimes not. I just hope it stays like that. But without debugging it or having logs to really find th

[2015-05-18 16:50] romk1n commented on #76
@KeKs0r you don't have to get very familiar with Xcode to run it. you just do `cordova build` in the command line and inside `platforms/ios` you will have a `.xcodeproj` file with the name of your project. Open it and just click Run.

From a quick google search on the `.dsym` file from phonegap build it looks those files are not provided http://community.phonegap.com/nitobi/topics/_dsym_file_requi

[2015-05-18 16:54] KeKs0r commented on #76
ok I'll try to get cordova working from the cli and see if I can figure something out. Problem is that PGB and normal cordova also use slightly different config.xml and handle plugins differently.

[2015-05-18 16:56] romk1n commented on #76
@KeKs0r you can use phone gap CLI. it is built on top of the cordova.

[2015-05-21 08:04] nwidal opened #79 "App Crashes Cordova 4.2 / Plugin 3.1.7"
Hi,

my app got killed in Sandbox Mode, aftr fixing Netbeans IDE Bug which IU thoughed would cause the issue of killing my app when initialising the paypal plugin I got that log / stacktrace:

java.lang.IllegalStateException: Cannot get websocket address
	at org.netbeans.modules.cordova.platforms.android.AndroidDebugTransport.getURI(AndroidDebugTransport.java:226)
	at org.netbeans.modules.cordova.

[2015-05-21 12:32] nwidal commented on #79
OK FIXED - Sorry for bothering. Only problem was that this implementation uses callbacks where just references should have been used.
I think I'll update a proper angular wrapper and put it somewhere so ppl stop using this failure

[2015-05-21 14:42] #79 closed

[2015-05-23 19:25] suhaschitade opened #80 "How to change UI"
@romk1n ,  this is not an issue just a request, could you please let me know if I need to change UI in plugin how should I do it?, is it possible to do? I have opened the project in xcode however no xib files were there in plugin.

Your help is really appreciated.

Regards,
Suhas

[2015-05-26 14:34] romk1n commented on #80
@suhaschitade the plugin is based on the native PayPal Mobile which doesn't allow any UI customization. For more details please see this section https://github.com/paypal/PayPal-iOS-SDK#usability

[2015-05-26 14:34] #80 closed

[2015-05-26 14:49] suhaschitade commented on #80
Hi Roman, agreed. However I want to create new plugin although not for PayPal, could you please let me know how to make it and integrate with PayPal

Regards
Suhas

Sent from my Windows Phone

-----Original Message-----
From: "Roman" <notifications@github.com>
Sent: ‎5/‎26/‎2015 8:04 PM
To: "paypal/PayPal-Cordova-Plugin" <PayPal-Cordova-Plugin@noreply.github.com>
Cc: "suhaschitade" <suhas.chitade@

[2015-05-26 15:00] romk1n commented on #80
@suhaschitade the only integration point with PayPal on iOS and Android is through PayPal Mobile SDKs.

[2015-05-27 07:01] suhaschitade commented on #80
@romk1n  , agreed however where is SDK in this plugin I can see only .m and .h files. No xib or user- interface files
Regards,
Suhas

[2015-05-27 07:21] romk1n commented on #80
@suhaschitade the library is embedded in the plugin https://github.com/paypal/PayPal-Cordova-Plugin/tree/master/src/ios/PayPalMobile and is usually the same version as latest github.com/paypal/PayPal-iOS-SDK

[2015-05-27 07:34] suhaschitade commented on #80
@romk1n , so is user interface is part of libPayPalMobile.a file. if yes how to create such file

Regards,
Suhas

[2015-05-28 04:25] romk1n commented on #80
Well I guess first you need to learn how to create a static library. You may start here http://www.raywenderlich.com/41377/creating-a-static-library-in-ios-tutorial

[2015-05-28 13:58] suhaschitade commented on #80
@romk1n , thank you very much. I will have a look

[2015-06-02 18:58] drdalziel opened #81 "New version is throwing a Phonegap error"
It seems that the new version of the plugin is throwing the old,  A plugin in your app does not support the compulsory arm64 (64-bit support) architecture, error. It was working for me with version 3.1.6.
If I add version="3.1.7" or version="3.1.8" to the config.xml file, I get a plugin unsupported error.

[2015-06-02 19:04] romk1n commented on #81
@drdalziel as mentioned in the release notes you require Xcode 6.3 for the latest versions. It sounds like phone gap is not upgraded to 6.3 and you may continue using earlier versions.

[2015-06-02 19:04] #81 closed

[2015-06-02 19:34] drdalziel commented on #81
Unfortunately Phonegap isn’t letting me use any earlier version so I’m stuck.

Thanks,

Dennis Dalziel

VP Production and Technology

G & R Publishing Co.

507 Industrial St.

Waverly, IA 50677

319-352-5391

From: Roman [mailto:notifications@github.com]
Sent: Tuesday, June 2, 2015 2:05 PM
To: paypal/PayPal-Cordova-Plugin
Cc: drdalziel
Subject: Re: [PayPal-Cordova-Plugin] New version is throwing a

[2015-06-02 21:03] romk1n commented on #81
@drdalziel specifying the version should work `<gap:plugin name="com.paypal.cordova.mobilesdk" version="3.1.6" />` same issue was fixed that way https://github.com/paypal/PayPal-Cordova-Plugin/issues/73

[2015-06-03 13:29] drdalziel commented on #81
That worked before, now you must also add: source="npm"

[2015-06-04 02:49] trongrg opened #82 ""Checking this device" always hangs the first time"
We are experiencing this problem on many devices.

When Paypal SKD show "Checking this device", it hangs for the first time.

After that, we click back button to return to our app, and click "Pay" again, "Checking this device" doesn't appear, it goes straight to payment page.

However, on the device Acer Iconia A1-713, when pay with card, the camera is not available, the screen appears with just t

[2015-06-04 05:07] romk1n commented on #82
@trongrg please provide more details like version of the plugin and android sdk in use. what version of the android are you using ?

please make sure that `platforms/android/libs` has the following files:
[code]

Can you try reproducing this using the following repo ? https://github.com/romk1n/MyCordovaShop

[2015-06-04 18:40] romk1n commented on #78
closing due to inactivity. please feel free to reopen.

[2015-06-04 18:40] #78 closed

[2015-06-17 18:05] ds8k opened #83 "Merchant ID?"
Trying to implement this into a Sencha Touch app and running into a problem. I've been provided a "Merchant ID" was told that it can be used for both production and sandbox. Is my merchant ID the same as my client ID? The documentation is great in all places besides this one.

[2015-06-17 18:37] ds8k opened #84 "PayPalPayment not processable - iOS"
Running into an issue only on iOS. I'm passing all the correct values, but the SDK is throwing this error:
[code]

For some reason tax and shipping isn't getting set even though I've confirmed that I'm passing them correctly:
[code]

I don't have this issue on Android

[2015-06-17 18:37] ds8k commented on #83
User error

[2015-06-17 18:37] #83 closed

[2015-06-17 18:53] ds8k commented on #84
It looks like the iOS SDK can only acceptable strings for values. Running toString() on them fixed the issue.

[2015-06-17 18:56] romk1n commented on #84
@ds8k make sure you passing string. Check https://github.com/paypal/PayPal-Cordova-Plugin/blob/master/www/paypal-mobile-js-helper.js for documentation.

[2015-06-21 23:03] igormages opened #85 "Can't run on iOS 9"
Hi,
My app - and the sample cordova paypal app - can't run on iOS 9 :
![capture d ecran 2015-06-22 a 01 00 53](https://cloud.githubusercontent.com/assets/1811772/8273738/2b4a3dec-187a-11e5-8dc8-07806c44cfec.png)

If i run in another phone on iOS 8 or the emulator, this works fine.

Someone know how to fix it ?
Thanks !

[2015-06-22 09:46] romk1n commented on #85
@igormages unfortunately the information you have provided is not enough to determine the problem, do you have the full message from the log? Also bare in mind that iOS 9 support will only be available once [PayPalMobile iOS SDK](https://github.com/paypal/PayPal-iOS-SDK) adds it. Thanks.

[2015-06-29 19:28] juwlee commented on #84
Closing per @ds8k's last comment. Thanks @romk1n for the pointer to documentation.

[2015-06-29 19:28] #84 closed

[2015-07-03 16:57] manu33700 opened #86 "Apple validation"
Hello,
I would like to install the plugin Paypal-Cordova-plugin in my iOS Cordova application. Can you confirm that this plugin is valid with validation Apple (before publication on the app store) ?
Thank you

[2015-07-03 21:09] romk1n commented on #86
@manu33700 yes. There were no complaints so far! Thanks.

[2015-07-06 09:18] Vincenttbk opened #87 "Configuring user information"
Hi,

Is there anyway to configure to input user information when using the credit card payment? e.g. Name, email

Thanks :)

[2015-07-07 13:03] #86 closed

[2015-07-07 13:07] #87 closed

[2015-07-08 09:56] chumstech opened #88 "its giving me error "Cannot read property 'PayPalMobile' of undefined""
Hi,
 i used this plugin in android phonegap app but its giving me error "Cannot read property 'PayPalMobile' of undefined",
but i correctly configured the config.xml and manifest file .
can you please help me in this.

Thanks in Advance

[2015-07-09 12:59] romk1n commented on #88
@chumstech can you provide more details please ? the only bit you need to do is add one line to your config.xml if you using Phonegap build https://github.com/paypal/PayPal-Cordova-Plugin#phonegap-build

Do you have sample code where this error is thrown and full console log?

[2015-07-09 16:12] ds8k opened #89 "Issue with discounts"
Our app allows users to checkout with coupons or other discounts. The grandTotal we receive reflects that discount but the subTotal does not. This results in the subtotal, tax, and shipping not matching our grand total. How should this be accounted for?

[2015-07-09 16:24] romk1n commented on #89
@ds8k have you checked [itemization](https://github.com/paypal/PayPal-Cordova-Plugin/blob/master/www/paypal-mobile-js-helper.js#L16) of the items? you can put negative items as your discounted items, however you still need to ensure that the total amount of all items match the total or subtotal.

[2015-07-09 16:25] ds8k commented on #89
@romk1n In this situation would it just be best to only pass the order total and not include the details?

[2015-07-09 20:29] ds8k commented on #89
@romk1n Additionally, when using a shippingAddress, the helper.js file says that a shipping address would be passed in to PayPalPayment, however that doesn't appear to be a parameter of the function. How do I pass a shipping address to the SDK?

[2015-07-10 16:27] ds8k opened #90 "JSON Error"
Android appears to have randomly started throwing a "JSON Error" on tap of the PayPal button. This was on 3.1.8. I updated to 3.1.9 assuming this might fix the problem but it still persists. I can't even get the UI to show up setting the environment to NoNetwork. Logcat doesn't even give me any more information about what's going on. I've literally not changed my code and it has gone from working

[2015-07-13 16:06] romk1n commented on #89
@ds8k that would fully depend on your business practice. if you include the items they will appear on the email paypal sends to the customer.

[2015-07-13 16:09] romk1n commented on #90
@ds8k try putting some breakpoints, i don't see what can go wrong here and it is unclear what component sends the error. Also, since you using only single payment functionality you don't need to set

`merchantName: "Test",
merchantPrivacyPolicyURL: "https://mytestshop.com/privacy",
`
it is required only for future payments and profile sharing.

[2015-07-14 01:01] ds8k commented on #89
Our business has multiple ways to reduce the total cost. Randomly deducting the costs of items isn't really ideal in this situation, and doing math with javascript is bad news due to floating point numbers.

[2015-07-14 01:02] ds8k commented on #90
Thanks for the heads up.

It looks like the issue is passing in null for the paymentDetails. I originally left it out but could have sworn I got some error because of that. Looks like Android doesn't like when it's set to null, however if I don't pass anything in it works fine for both iOS and Android.

[2015-07-14 15:24] #90 closed

[2015-07-15 20:54] tomwhipple commented on #85
iOS 9 dependencies are https://github.com/paypal/PayPal-iOS-SDK/issues/290 and https://github.com/paypal/PayPal-iOS-SDK/issues/297.

[2015-07-15 20:56] tomwhipple commented on #88
I'm not sure what action remains here, so I'm going to close this. Please feel free to reopen if the problem persists.

[2015-07-15 20:56] #88 closed

[2015-07-16 14:51] alextkd opened #91 "Android memory leak"
I noticed once the plugin is initialized it takes up to 300Mb of memory on Android 5.0.1, Galaxy S4 and even more on other devices like S6 and Nexus5 it can take up to 600Mb.

[2015-07-16 15:37] romk1n commented on #91
@alextkd can confirm what version of the plugin are using and a bit more details ? is the problem with a plugin itself or the initialization of [PayPal-Android-SDK](https://github.com/paypal/PayPal-Android-SDK) ? cc/ @braebot

[2015-07-16 18:09] juwlee commented on #91
@alextkd thank you for the offer. Please do submit a pull request, if you can. We would appreciate your contribution.

[2015-07-17 20:32] avidas commented on #91
@alextkd is that issue specific to the version of Android, 5.0.1?

[2015-07-17 20:54] tomwhipple commented on #91
@alextkd We're also wondering if you see the same problem in the example app at https://github.com/romk1n/MyCordovaShop?

[2015-07-18 04:25] arnoldbenda opened #92 "What is the merchantPrivacyPolicyURL and merchantUserAgreementURL?"
I am a beginner of programming.
I want to integrate paypal-cordova-plugin on my app.
By the way , I don't know what is the merchantPrivacyPolicyURL  and merchantUserAgreementURL.
Please help me.

[2015-07-18 04:35] #92 closed

[2015-07-18 06:41] romk1n commented on #92
If you using future payments or profile sharing you must supply your privacy and agreement URL links.

[2015-07-18 21:29] nothingalike opened #93 "Samsung S6 Edge Android Version 5.0.2"
Once i put the Paypal SDK in my app, the app will immediately crash. I know it doesn't crash on later version.

[2015-07-19 14:56] tomwhipple commented on #93
@nothingalike Have you tried building the [sample app](https://github.com/romk1n/MyCordovaShop)? Or do you have a project that you can share?

[2015-07-27 14:26] tsukasa1989 opened #94 "Issue with IOS"
Hello,

I'm getting the following error when I'm building:

	Error: [xcode-build] Link /tmp/builds/ZUcH8JecJ4cbdIfWBJ/app/DerivedData/Cordova350/Build/Intermediates/Cordova350.build/Release-iphoneos/Cordova350.build/Objects-normal/armv7/Cordova350: Undefined symbols for architecture armv7:
     "_OBJC_CLASS_$_NSExtensionItem", referenced from:
      objc-class-ref in libPayPalMobile.a(PPZebraOnePa

[2015-07-27 15:06] romk1n commented on #94
@tsukasa1989 are you using old version of Xcode ? https://github.com/paypal/PayPal-iOS-SDK/issues/190

[2015-07-28 08:40] tsukasa1989 commented on #94
I have found my issue, I was using an older version of phonegap. Now I've updated my version the error is gone.

[2015-07-28 13:06] avidas commented on #94
@tsukasa1989 if you could report what version of phonegap you were using, that would be great.

[2015-07-28 13:06] #94 closed

[2015-07-29 11:29] tsukasa1989 commented on #94
Version 3.5, now i've updated to 3.7 and it does not give any issues.

[2015-07-30 06:43] Vincenttbk opened #95 "Camera feature not showing after app signed (Android)"
Hi,

The credit card scanning feature seems to be working on my development environment for a long time. But after signing the app in android, the camera function seems to be deactivated.

Is there any special step i need to do in order for the camera function to work?

Thanks :)

Regards
Vincent

[2015-08-08 16:18] jsappme opened #96 "Android version not working with payment.items"
When I add payment.items to my Paypal payment, Paypal does not let me pay giving me an error saying "The payment information is invalid...".

Here is my Paypal payment object:
 getPaypalItems: {"amount":"45","currency":"USD","shortDescription":"Total...","intent":"Sale","details":{"subtotal":"45","shipping":"0.00","tax":"0.00"},"invoiceNumber":"kOnETFRn0t","items":[{"name":"Candy Bikini Top","quan

[2015-08-08 17:24] romk1n commented on #96
@jsappme  i have managed to reproduce the problem. if you look in the console you should see a message like this:

[code]

the problem is that `sku` is empty string and neither the sdk nor the [wrapper](https://github.com/paypal/PayPal-Cordova-Plugin/blob/master/src/android/PayPalMobileCordovaPlugin.java#L355) on Android deals with it correctly.

The simple workaround is to pass `null` rather then

[2015-08-08 18:30] jsappme commented on #96
Wouahh Romk1n you're the best. Issue fixed by setting sku to null. Thanks.

[2015-08-08 18:30] #96 closed

[2015-08-09 15:40] jsappme opened #97 "App crashing during login"
Just after entering my PP password and clicking on the Login password, the app crash with the following error:

-[NSNull length]: unrecognized selector sent to instance 0x33078830
(lldb) 2015-08-09 09:37:23.308 Sister Soul[2975:1265072] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[NSNull length]: unrecognized selector sent to instance 0x33078830'
*** First

[2015-08-09 15:47] jsappme commented on #97
PayPalItem does not like the null sku in iOS I add to set one:

PayPalItem(item.Title,item.Quantity,item.Price,'USD','yo')

Issue closed

[2015-08-09 15:47] #97 closed

[2015-08-19 17:56] mayurloved commented on #11
Any Updates ?

[2015-08-19 18:38] jaypatel512 commented on #11
There are no plans for windows phone yet on this plugin.

[2015-08-19 18:57] mauricioaguirre opened #100 "Paypal not working on ios xcode 6"
Hi,

We used the paypal gateway on ios. However is not working. At the time we click on the button it does nothing.

Can you help us out, please?

Thanks

Mauricio Aguirre

[2015-08-19 19:19] jaypatel512 commented on #100
Hey @mauricioaguirre !

I used the [sample app](https://github.com/paypal/PayPal-Cordova-Plugin#basic-example-of-the-app) that demonstrates the behavior, and updated the mode to Sandbox, by changing the [onRender arguments](https://github.com/romk1n/MyCordovaShop/blob/master/www/js/index.js#L113), and I was able to successfully build and run ios simulator.

I am using XCode 6.4

[2015-08-19 19:19] jaypatel512 commented on #100
Can you please try running the sample app and see if the issue is visible there too. This will eliminate if something is wrong on plugin or your setup.

[2015-08-19 20:07] mauricioaguirre commented on #100
Thanks for your quick response and help!!!

I implemented this plugin phonegap, creating it for both platforms (android / ios) the current plug-in  works perfectly in android for me, but my issue is only in IOS.

The solution that you gave me. that i already tried is not working, also I added the "config.xml" the following line "<gap: plugin name =" com.paypal.cordova.mobilesdk "version =" 3.1.6 "

[2015-08-19 20:12] jaypatel512 commented on #100
Are you sure, when doing initPaymentUI, you are passing the clientIds properly ?
[code]

[2015-08-19 21:42] mauricioaguirre commented on #100
Still does not work Could you be a little more specific please, in the name of the function or calling that I need to add?

When i added the above code the app simply did not start

Thanks!!!

[2015-08-20 04:24] jaypatel512 commented on #100
Btw, as per your comments, even the sample app is not working right ? We can probably focus on that. Do you have any logs related to the sample app ? The reason I am asking you to test sample app, is it gives me the ability to help you better, as I understand it works perfectly in other systems.

[2015-08-20 04:48] odzero commented on #100
Hi Jay, I'm friends with Mauricio Aguirre, and I'm trying to solve the problem with him.

The problem we have is that we do not have much support the sample app, because we bought via the Internet and the creator does not know the cause of the problem either, it says that is because our configuration xcode, but we do not think so .

Xcode does not show any errors, and we have already unsuccessfull

[2015-08-20 06:35] nitinsurani opened #101 "I have problem in android paypal integration"
Hi,
I have problem in paypal plugin in android. I have successfully installed plugin and paypal UI is rendering. But when i fill credit cart screen and then click on "Charge Card" then no any process.... and i am redirect to paypal main screen. I have checked all my logs but nothing.
I am using "MyCordovaShop-master" fresh demo with installed 2 plugin.
1)Console plugin
2)Paypal plugin
Can you help

[2015-08-20 07:39] bhaskar-karmick commented on #101
Hi,
I also facing the same issue as mentioned by @nitinsurani.
Please suggest how this will be fixed
Thanks

[2015-08-20 15:34] jaypatel512 commented on #100
Hey @odzero !

If you have basic understandings about github, you should be able to download the project, by following the instructions here. https://github.com/romk1n/MyCordovaShop

Because it requires you to install npm, and cordova in your computer, it is not easy to just zip the project.

Just follow the instructions provided in the [README.md](https://github.com/romk1n/MyCordovaShop/blob/mast

[2015-08-20 15:40] jaypatel512 commented on #101
Hey @nitinsurani ! @bhaskar-karmick !

There was a bug we found recently in [Android SDK #186](https://github.com/paypal/PayPal-Android-SDK/issues/186). This caused the credit cards to not work, and default back to Main screen. We recently released the plugin with updated SDK, with the fix. Can you please make sure you have [v3.1.12 or higher](https://github.com/paypal/PayPal-Cordova-Plugin/releas

[2015-08-20 15:40] #101 closed

[2015-08-20 15:41] jaypatel512 commented on #82
Hey @trongrg ! Any update on this ?

Any more information should help us find the root cause ? Please let us know.

[2015-08-20 15:41] romk1n commented on #100
It maybe also useful to have a look at this issue since you using angular https://github.com/paypal/PayPal-Cordova-Plugin/issues/61

[2015-08-20 15:57] nitinsurani commented on #101
Hi Jay,

Thank you so much.. This 3.1.12 version is working fine now.. Thanks a
lot.. :)

On Thu, Aug 20, 2015 at 9:10 PM, Jay <notifications@github.com> wrote:

--

[image: logo]
*Nitin Surani*
*Skype*: surani.nitin
* Mobile*: +918306066606
*oDesk*: Nitin Surani
<https://www.odesk.com/o/profiles/users/_~01a474fd07b3e148a8/>
surani.nitin@gmail.com | http://planexw <http://planexweb.com>eb.com
<htt

[2015-08-20 15:58] jaypatel512 commented on #101
Cool ! Great to know :+1: Happy Coding

[2015-08-24 17:24] arnoldbenda commented on #92
Thank you for reply.
I see.

[2015-08-31 12:46] vidulbazoot opened #102 "Do direct payments not working for my andriod cordova app"
Hi,

We are developing a mobile application and trying to implement the PayPal Cordova Plugin. This is based out of Singapore.

Strangely the payment function does not seem to work while trying to make payments using a Credit Card. It does not throw up any error or message either. Just goes back to the earlier screen.

Any suggestions /advice?

Rgds,
Vidul

[2015-08-31 14:12] Vincenttbk commented on #102
Hi Vidul,

The direct payment does not work out of the box, you will need to contact PayPal for this feature to be activated, it would require you to send in some documents as verification.

[2015-08-31 16:28] jaypatel512 commented on #102
We had a [bug related to](https://github.com/paypal/PayPal-Android-SDK/issues/186) it, which was fixed recently in Android SDK. The [latest release v3.1.12](https://github.com/paypal/PayPal-Cordova-Plugin/releases/tag/v3.1.12) should have the fix in Cordova Plugin.

Please make sure you are using the latest version in your code.

[2015-08-31 16:28] #102 closed

[2015-09-01 07:49] vidulbazoot commented on #102
Hi,

We are using the latest version.

Rgds

Date: Mon, 31 Aug 2015 09:28:32 -0700
From: notifications@github.com
To: PayPal-Cordova-Plugin@noreply.github.com
CC: vidulprothi@hotmail.com
Subject: Re: [PayPal-Cordova-Plugin] Do direct payments not working for my andriod cordova app (#102)

We had a bug related to it, which was fixed recently in Android SDK. The latest release v3.1.12 should have th

[2015-09-01 17:54] jaypatel512 commented on #102
Hey @vidulbazoot !

I tested it using the [sample app](https://github.com/romk1n/MyCordovaShop) and setting it to sandbox. It seem to work fine. It seems like you need to enable direct credit card in your account. as @Vincenttbk suggested.

[2015-09-02 05:11] vidulbazoot commented on #102
Hi Jay:

Please read the last two threads in the link below.

https://github.com/paypal/PayPal-Cordova-Plugin/issues/10

Kindly let me have your thoughts.

Rgds

Date: Tue, 1 Sep 2015 10:54:22 -0700
From: notifications@github.com
To: PayPal-Cordova-Plugin@noreply.github.com
CC: vidulprothi@hotmail.com
Subject: Re: [PayPal-Cordova-Plugin] Do direct payments not working for my andriod cordova app (#

[2015-09-02 05:20] vidulbazoot commented on #102
It seems that if we are in Singapore then the app will not be able to accept payments via credit card. Not sure if the app is usable only in the US and UK to accept direct credit card payments.

[2015-09-05 23:07] jguix commented on #42
Actually it doesn't seem to be necessary to copy the file from the plugin location to the www folder, following the sample application you only have to include the reference like this:

    <script src="js/paypal-mobile-js-helper.js"></script>

[2015-09-07 15:42] zefrench opened #103 "Confict with CardIo plugin and Paypal payment plugin"
I'm using scan card (cardIO) plugin on my app and I have some call to the scan within my index.js in order to scan card that will not be used with a paypal account and it works like a charm.

BUT
I need to install the paypal plugin but as paypal plugin comes now with carIo library I get duplicate error : duplicate symbol _CardIOCurrentScanningOrientatio when I run the cordova build ios and.. the b

[2015-09-08 16:42] tomwhipple commented on #103
This problem stems from the fact that the PayPal iOS SDK includes card.io. You'll want to find the card.io static library (.a file) and remove it from your project. You don't want to remove the card.io Cordova plugin since it has all of the JS wrappers that are required to access it directly.

[2015-09-17 11:18] cihadhoruzoglu commented on #85
We have faced the same issue which is mentioned above. And we get following exception log;

*** First throw call stack:
(0x1838c8f5c 0x1984bbf80 0x1838c8ea4 0x1838b04e4 0x1837bb0d4 0x1838b0c90 0x1001cb804 0x183801124 0x1001cb550 0x1001cc0a8 0x1001b94d0 0x1001ba68c 0x1001a7a28 0x188e1f62c 0x188e1f1b0 0x1891ae84c 0x18916d750 0x18916a2b0 0x1890c8844 0x1890d4de4 0x188e111e4 0x18387fc30 0x18387d9d4 0x1

[2015-09-17 16:30] avidas commented on #85
@cihadhoruzoglu at what point was the exception thrown? Were you just trying to run the sample cordova app?

[2015-09-17 16:47] jaypatel512 commented on #85
Running the [sample app](https://github.com/romk1n/MyCordovaShop), on IPhone 6 Simulator (IOS 9), I was able to run the sample successfully. Can you give us more information on how to reproduce this issue ?

[2015-09-18 15:59] cihadhoruzoglu commented on #85
Hi @avidas & @jaypatel512 ,

We have fixed this issue with upgrading the version of PayPal plugin on Xcode 7. Thanks.

[2015-09-18 16:52] jaypatel512 commented on #85
Thats wonderful !! Happy Coding :+1:

[2015-09-18 16:52] #85 closed

[2015-09-21 12:48] noldotar opened #104 "Xcode 7 error on building app"
Hi, I'm trying to building the app with Xcode 7, but it breaks with this error:

[code]

My Cordova info:
Node version: v4.1.0
Cordova version: 5.3.1
Installed platforms: android 4.1.1, ios 3.9.1

Project Plugins:
* com.paypal.cordova.mobilesdk 3.1.13 "PayPalMobile"
* cordova-plugin-device 1.0.1 "Device"
* cordova-plugin-dialogs 1.1.1 "Notification"
* cordova-plugin-file 3.0.0 "File"
* cordova-plu

[2015-09-21 14:43] bluk commented on #104
Hi, you will need to disable Bitcode in your Xcode IDE. If you search under your target's Build Settings and select "All", you can search for Bitcode enabled. Currently the card.io library is not Bitcode enabled  (due to some low level code) so the PayPal SDK is not entirely Bitcode enabled. Apple is accepting non-Bitcode enabled applications as everyone transitions. You can track some of the card

[2015-09-21 15:58] noldotar commented on #104
Great! It works!!!

[2015-09-21 15:58] #104 closed

[2015-09-21 19:07] jaypatel512 commented on #91
Hey @alextkd !

We tested our sample with a large set of physical devices, and were not able to reproduce the issue that you are facing. We are closing this issue for now, as it is unreproducible. However, if you are able to reproduce this consistently, please re-open this issue, and we could try even further on getting required data to resolve this issue.

[2015-09-21 19:07] #91 closed

[2015-09-22 13:14] tomandhisjones opened #105 "Unable to build app. Mach-O Linker Error"
I'm trying to build an ionic app with your plugin, but each time I try to build, I get a Linker error, and the build fails. I've added and removed platforms and plugins in various orders, to no success. It says I have duplicate symbols for architecture x86_64:

Ld /Users/tfree2/Library/Developer/Xcode/DerivedData/Ninja_Scan-agrdvbengrwwmebkluhamofsddea/Build/Products/Debug-iphonesimulator/Ninja\ S

[2015-09-22 15:05] bluk commented on #105
The latest PayPal-Cordova Plugin requires Xcode 7. The library is partially Bitcode enabled which Xcode 6.4 does not work well with. An alternative is to try to use the https://github.com/paypal/PayPal-iOS-SDK/releases/tag/2.11.5 libraries temporarily which should be built without any embedded Bitcode.

[2015-09-22 15:53] tomandhisjones commented on #105
I originally tried this on Xcode 7 as well, with the same results. I downgraded Xcode to see if it would resolve the problem, and it didn't. I didn't have any problem building the sample app in Xcode 6.4

[2015-09-22 17:11] markharding commented on #82
Since iOS 9 I'm not able to get past 'checking this device...' - it then says 'There was a problem communicating with the PayPal services. Please try again'. Multiple devices.

Android is working fine with the same config.

[2015-09-22 17:41] tomwhipple commented on #82
@markharding can you open this as a new issue? This one was opened about Android, and given the age, should be closed.

But please make sure you are using the latest SDK version and include any messages from the XCode/device console.

[2015-09-22 17:41] #82 closed

[2015-09-22 17:54] markharding opened #106 "`Checking this device...` always hangs."
Since iOS 9 I'm not able to get past 'checking this device...' - it then says 'There was a problem communicating with the PayPal services. Please try again' after about a minute. Multiple devices. Unfortunately there are no error outputs are all. This was working on our production application until we upgraded to iOS 9 today.

I think this could actually go deeper and be an issue with the PayPal S

[2015-09-22 18:02] tomwhipple commented on #106
Could you confirm which version of the Cordova plugin you are using?

If you were using an older version but building against iOS9, you could be hitting the App Transport Security (ATS) checks. As part of the latest round of updates, were able to consolidate communication to a single API endpoint that is compliant. However, older versions may be talking to endpoints that are not yet up to that sta

[2015-09-22 18:20] markharding commented on #106
I'm using using the master branch from here. Also we have the new transport security config set to allow all. Also there is no error log at all (security would have thrown a domain error?).

[2015-09-22 19:06] tomwhipple commented on #106
True, there should be a log message.

We will investigate.

[2015-09-22 20:18] #103 closed

[2015-09-22 20:30] #93 closed

[2015-09-22 20:36] tomwhipple commented on #105
I believe you still need to disable bitcode for XCode 7. We're tracking support for bitcode in https://github.com/paypal/PayPal-iOS-SDK/issues/284.

[2015-09-23 15:07] ds8k commented on #106
Having this issue as well on iOS 9 with the latest version. Sandbox loads up fine however.

[2015-09-23 17:01] tomwhipple commented on #106
We have been able to reproduce this and are working on a solution.

[2015-09-24 12:58] dilipwk opened #107 "Note getting dynamic values for amount"
[code]
I couldn't make payment value ("1.00") dynamic

Am working in Ionic angularjs

[2015-09-24 13:00] Vincenttbk commented on #107
createPayment: function(value) {
var paymentDetails = new PayPalPaymentDetails(value, "0.00", "0.00");
var payment = new PayPalPayment(value, "USD", "Dilip Sauce", "Sale",
paymentDetails);
return payment;
}

[2015-09-24 14:52] dilipwk commented on #107
buyNowBtn.onclick = function(e) {
      var fare=document.getElementById("fare");
      PayPalMobile.renderSinglePaymentUI(app.createPayment(fare), app.onSuccesfulPayment,
        app.onUserCanceled);
    };

  createPayment: function(val) {
    var paymentDetails = new PayPalPaymentDetails(val, "0.00", "0.00");
    var payment = new PayPalPayment(val, "USD", "Dilip Sauce", "Sale",
      paymentDe

[2015-09-25 03:42] doditsolutions commented on #107
We too getting same issues.

Can u please guide us how to get dynamic values in it. we have all value in scope. also in before index.html. so hot to get into index.html pages also from there to this js file.. any sample will be helpfull.

Thanks in advance.

[2015-09-25 05:55] pbojinov commented on #105
@tomandhisjones I had this same problem as well: `clang: error: linker command failed with exit code 1 (use -v to see invocation)`.

I was able to successfully build and archive in Xcode 7.0 (7A220) by setting `Enable Bitcode` to `No` in the target `Build Settings`.

1. Go to Build Settings
2. Search for "bitcode".
3. Set Enable Bitcode to No

![image](https://cloud.githubusercontent.com/assets/70

[2015-09-25 07:16] noldotar commented on #106
Same here:
Node version: v4.1.0
Cordova version: 5.3.1
iOS platform: Xcode 7.0 Build version 7A220
Plugins:
com.paypal.cordova.mobilesdk 3.1.13 "PayPalMobile"
cordova-plugin-actionsheet 2.0.1 "ActionSheet"
cordova-plugin-device 1.0.1 "Device"
cordova-plugin-dialogs 1.1.1 "Notification"
cordova-plugin-file 3.0.0 "File"
cordova-plugin-geolocation 1.0.1 "Geolocation"
cordova-plugin-media 1.0.1 "Media

[2015-09-25 12:48] tomandhisjones commented on #105
@pbojinov I did try that, and was able to successful build to my device, but wasn't able to build for it to run in the simulator. Did it work in the simulator for you?

[2015-09-25 15:33] walfro commented on #106
+1 Same here

Cordova CLI: 5.3.1
Ionic Version: 1.0.0
Ionic CLI Version: 1.6.4
Ionic App Lib Version: 0.3.8
ios-deploy version: 1.7.0
ios-sim version: 3.1.1
OS: Mac OS X Yosemite
Node Version: v0.12.3
Xcode version: Xcode 7.0 Build version 7A220

[2015-09-25 15:56] pbojinov commented on #105
It worked in the simulator for me.

Interestingly enough it didn't complain about the bitcode when running in the simulator but it came up when trying to build for device.

[2015-09-25 16:47] bluk commented on #105
@pbojinov Bitcode is normally only "enabled" when archiving your application for distribution or testing on a device.

@tomandhisjones I would also try to see if your Command Line Tools are updated for Xcode 7 and your toolchain is selected in the command line via `xcode-select`.

[2015-09-28 10:13] noldotar commented on #106
Hi, could we have a timing? Sorry but it's urgent for me...

[2015-09-28 19:57] avidas commented on #106
Hey, we discovered that the issue came up in the cordova sdk after some endpoints were updated to be compliant to Apple's App Transport Security. While we are still looking at root cause for the issue, reverting to the previous version, 3.1.12, should work

[2015-09-29 10:06] noldotar commented on #106
Yeah! I confirm that 3.1.12 works

[2015-10-08 18:17] igordeoliveirasa commented on #106
Oh, I'd like to know about it too.

[2015-10-08 20:19] igordeoliveirasa opened #109 "INSTRUMENT_DECLINED"
Hi, I'm always receiving the following error when I tap Pay:

PayPal SDK: Request has failed with error: INSTRUMENT_DECLINED - Your selected payment method was not accepted. Please choose a different method. (400) | PayPal Debug-ID: 96bcb4b90efae [live, PayPal iOS SDK 2.11.3]

Please, is anybody able to help me?

[2015-10-08 20:24] tomwhipple commented on #109
This happens when the underlying funding instrument in your PayPal account declines the transaction for some reason. For example, your credit card is expired or the card declines the payment.

Since this is an account specific problem and not a bug in the Cordova plugin, you'll need to work with [PayPal Merchant Support](https://www.paypal-techsupport.com/app/ask) or your bank to figure out the pr

[2015-10-08 20:24] #109 closed

[2015-10-08 20:27] igordeoliveirasa commented on #109
Tom, I don't think so. Since I'm used to buy frequently with this credit card and paypal account. Do you have any other tip?

[2015-10-08 20:29] jaypatel512 commented on #109
I think at this point the PayPal Merchant Support would be able to help you with that. As @tomwhipple mentioned before, the issue is not with the plugin, but with paypal account in question.

[2015-10-08 20:35] igordeoliveirasa commented on #109
Jay and Tom, I've tryied with multiple good paypal accounts here... And the return is the same for all of them. Any tip?

[2015-10-11 01:36] sanctus671 opened #110 "Phonegap build version lagging"
I'm having issues getting the app on the Apple store because it is crashing on iOS9 when trying to start the Paypal plugin. I looked at the version on Phonegap build, and it saying the latest version was uploaded feb 13, 2015. Since then there have been a few bug fixes for iOS. I'm not sure if it auto-deploys or not, but I'm hoping this is the reason for the crashes I'm getting.

[2015-10-29 11:01] mastersoftwaresolutions opened #111 "Using IONIC : Paypal production on IOS not working and getting paypal server error. Working fine with sandbox for ios and android"
I am facing strange issue. Sandbox is working fine for bith ios and android versions. When i switched to paypal production, then it stopped working in IOS. But android is working fine and able to make live transactions. Find below screen shot of error i am getting >>
![screenshot 2015-10-29 16 30 06](https://cloud.githubusercontent.com/assets/6111511/10816659/67abf884-7e5a-11e5-9bef-4d29cf2ad1d8.p

[2015-10-29 12:31] ppmtscory commented on #111
@mastersoftwaresolutions I'm wondering if you are running into the same thing as [this issue](https://github.com/paypal/PayPal-iOS-SDK/issues/353).  Do you have a debug ID that I can use to confirm/deny?

[2015-10-29 12:34] mastersoftwaresolutions commented on #111
I am sorry but how can i find debug id?

[2015-10-29 12:36] ppmtscory commented on #111
There should be a debug ID in the console logs along with the error response.

[2015-10-29 12:38] mastersoftwaresolutions commented on #111
I am using Paypal sdk plugin for ionic cordova framework. Let me check if i can any logs there.

[2015-10-29 12:43] puneet1106 commented on #111
Hi I am also facing the same issue.It is working only once in the noon and after that it is showing me the same alert "PAYER_ACTION_REQUIRED". I am working in sandbox mode. It is working fine in android but giving issue in iOS. My debug id is : 148dc3cdd5954

[2015-10-29 12:47] ppmtscory commented on #111
@puneet1106 please see my last response prior to yours on [this issue](https://github.com/paypal/PayPal-iOS-SDK/issues/353).

[2015-10-29 12:51] puneet1106 commented on #111
@ppmtscory Do i have to use another sdk for paypal?

[2015-10-29 12:51] msssakshisharma opened #112 "PayPal SDK not working in IOS Production(Live) but for Sandbox its working fine"
I have integrate this paypal sdk in android and IOS.
In android its working fine for both Production and sandbox but in case of IOS its only work for Sandbox, failed for Production(LIVE)

Its able to redirect paypal but only show loader.

please help
Thanks

[2015-10-29 12:52] ppmtscory commented on #111
@puneet1106 no - once the changes are pushed, you shouldn't be receiving the same error.

[2015-10-29 12:52] puneet1106 commented on #111
@ppmtscory So when the changes are going to pushed?Can you give me an idea please?

[2015-10-29 12:53] ppmtscory commented on #111
I don't have an ETA at this time.

[2015-10-29 12:55] puneet1106 commented on #111
Actually i have to submit ipa on iTunes.So that's why i am asking this question so that it might be helpful for me. Do i need to implement something new code my side or will it be from Paypal side?

[2015-10-29 12:56] ppmtscory commented on #111
You shouldn't have to change anything in your code as it's a change on our side for one of our internal services.

[2015-10-29 12:58] ppmtscory commented on #112
@msssakshisharma you are most likely being affected by the same thing that's described in #111.  Please keep an eye on that issue for resolution.

[2015-10-29 12:58] #112 closed

[2015-10-29 13:12] mastersoftwaresolutions commented on #111
Check out this issue :
https://github.com/paypal/PayPal-Cordova-Plugin/issues/106
It says using older version sdk (3.1.12) solves problem for now. i am going to try that now. here is the link to that release version :
https://github.com/paypal/PayPal-Cordova-Plugin/releases/tag/v3.1.12
Let me know if that works for you

[2015-10-29 13:17] ppmtscory commented on #111
@mastersoftwaresolutions is yours the same issue whereas it only stopped working after iOS9 but was working prior?

[2015-10-29 13:24] mastersoftwaresolutions commented on #111
I have not tried on older version because i have just ios9 at the moment on all devices and machines :(. IOS9 sucks. I am facing many issues just because of this IOS update.

[2015-10-29 13:43] ppmtscory commented on #111
Ah, ok.  Let me know if 3.1.12 works for you so that we can conclude that it's the same issue.

[2015-10-30 11:34] puneet1106 commented on #111
@ppmtscory Yesterday getting issue "PAYER_ACTION_REQUIRED" and today it is like "PAYMENT_CREATION_ERROR - There was a problem setting up this payment. Please visit the PayPal website to check your account. (422) "

Please check this and let me know, what is the issue. After every 3-4 hours i am getting different error.

[2015-10-30 13:52] bluk commented on #111
@puneet1106 Regarding the PAYMENT_CREATION_ERROR, it is a new issue as of last night. Please refer to paypal/PayPal-iOS-SDK#355 for further updates for that error.

[2015-10-30 21:45] tomwhipple commented on #111
The PAYER_ACTION_REQUIRED error is being tracked as https://github.com/paypal/PayPal-iOS-SDK/issues/353.

Other errors last night or with sandbox today should be resolved, but feel free to re-open/open new issues if not.

[2015-10-30 21:45] #111 closed

[2015-10-31 05:33] mastersoftwaresolutions commented on #111
@tomwhipple This issue is still open. Original issue is that sandbox is working but on live ist not working but for IOS only. For android its working fine. So please reopen this issue.

[2015-10-31 10:29] mastersoftwaresolutions commented on #111
Guys, it worked for me when i I tried to build my project on different mac with version 10.10.4 (OX X YOSEMITE) with xcode version - 7.0.1(7A1001).

but still not working on my existing machine with MAC version -10.11.1 (OSX EL CAPTAIN) with xcode version- 7.0.1(7A1001).

Anyhow i am not sure how above made difference but it worked. May help you guys as well to solve actual issue.

Thank you

[2015-11-04 21:21] bluk commented on #110
The Cordova plugin has been updated with the latest PayPal iOS SDK 2.12.5 which contains various fixes. Please reopen or open a new issue for any specific issues.

[2015-11-04 21:21] #110 closed

[2015-11-04 21:23] bluk commented on #106
The Cordova plugin 3.1.16 has been updated with the latest PayPal iOS SDK 2.12.5 which contains various fixes. It should have fixed the `Checking this device...` issue on production and enabled Bitcode (which is where the increase in library size is coming from).

[2015-11-04 21:23] #106 closed

[2015-11-04 21:24] bluk commented on #105
The Cordova plugin 3.1.16 has been updated with the latest PayPal iOS SDK 2.12.5 which contains various fixes. It has enabled Bitcode (which is where the increase in library size is coming from). Please reopen if this is still an issue.

[2015-11-04 21:24] #105 closed

[2015-11-04 21:25] bluk commented on #100
The Cordova plugin 3.1.16 has been updated with the latest PayPal iOS SDK 2.12.5 which contains various fixes. Please reopen if this is still an issue.

[2015-11-04 21:25] #100 closed

[2015-11-05 15:54] madjido opened #113 "Issue with cordova platform add android"
Hi,
I'm trying to create the project "MyShop" just as it is described in the paypal-cordova-plugin page, when i add android platform then i ge this error :

Adding android project...
Creating Cordova project for the Android platform:
	Path: platforms/android
	Package: com.mycompany.myshop
	Name: MyShop
	Activity: MainActivity
	Android target: android-22
Copying template files...
Android project cr

[2015-11-05 17:48] ds8k commented on #113
Same issue here

[2015-11-05 19:40] leoo232 opened #114 "Application Crashes on ios 9"
HI, im doing an application with HTML5 and js. I have connected the paypal to to a Sndbox and payment were successfully been made on my iphone 4. But when installing on my friend's ipad mini 2 with ios 9, then hitting the button pay with paypal, it crashes the application. I'm using phonegap online build and have set the paypal version to 3.1.2 as advised on the webite.
can any one help plz.. thx

[2015-11-05 19:46] bluk commented on #114
@leoo232 Can you try using version 3.1.16 for the Cordova plugin? There have been many updates to the mobile libraries since 3.1.2 (I assume that's the Cordova plugin version that you are using).

I assume you are looking at https://build.phonegap.com/plugins/1769 for the recommended version? We will try to get the version updated to the latest.

[2015-11-05 19:56] leoo232 commented on #114
Yes, its exactly at what im looking at on the phone gap site. done the necessary modification to put the version to 3.1.16 but got the following error:

plugin unsupported: com.paypal.cordova.mobilesdk @ 3.1.16

thx

[2015-11-05 20:35] bluk commented on #114
It appears that public plugin submission has been disabled (only private is enabled) with the recommendation to [use Cordova plugins on npm](https://build.phonegap.com/plugins) so we can't update the version easily. Looking at the Phonegap Build documentation here: http://docs.build.phonegap.com/en_US/configuring_plugins.md.html#Plugins it seems you must add a `source` attribute to get new Cordova

[2015-11-06 13:21] mayurloved commented on #113
Same Issue too :(

[2015-11-06 18:21] leoo232 commented on #114
hi @bluk

i have tried the version="3.1.16" source="npm" , but when it arrives on the page where there is the paypal button (<button id="buyNowBtn">) the app crashes on iphone 4. havent tested on ipad/ios9 yet.

do i need to update the paypal-mobile-js-helper.js - is there a new version, im using one that i found back in august 2015

thx

[2015-11-06 18:37] romk1n commented on #114
@leoo232 the `paypal-mobile-js-helper.js` comes with a plugin make sure you don't have 2.

[2015-11-06 18:47] leoo232 commented on #114
@bluk i have one in my js folders referenced on the page with the button for paypal.. it was working with 3.1.2

[2015-11-06 19:16] leoo232 commented on #114
@bluk @romk1n do i need to remove the js reference now?

[2015-11-06 20:39] bluk commented on #114
@leoo232 It depends on your project if you need to remove that specific reference. I would try to get @romk1n 's MyCordovaShop working ( https://github.com/romk1n/MyCordovaShop ) with the latest code and see if that works for you.

[2015-11-06 21:54] miche-atucha commented on #113
Me too! for the 3.1.16 version, and the plugin is in the project after the install crash

[2015-11-06 22:37] bluk commented on #113
Does this happen for only the latest version? I think this is because the latest Android card.io version has support for more architectures.

[2015-11-06 22:42] miche-atucha commented on #113
my project only have iOS platform, and still happen

[2015-11-07 07:01] mayurloved commented on #113
I am Still awaiting for the Solution :(

[2015-11-07 08:23] leoo232 commented on #114
@bluk I downloaded the MyCordovaShop from the link you gave and compiled it with my config file and it works... but still doesnt work with mine. tried removing the paypal-mobile-js-helper.js from the js folder as in the MyCordovaShop, still doent work. The pay with paypal wont call the paypal UI

My code is as follows

<html>
<head>
    <title>Concorde</title>
    <meta name="viewport" content="wi

[2015-11-07 08:25] leoo232 commented on #114
<script type="text/javascript" src="cordova.js">
    <script type="text/javascript" src="js/paypal-mobile-js-helper.js"></script>
    <script type="text/javascript" src="js/book.js"></script>

[2015-11-07 15:36] leoo232 commented on #114
@bluk I downloaded the MyCordovaShop from the link you gave and compiled it with my config file and it works... but still doesnt work with mine. tried removing the paypal-mobile-js-helper.js from the js folder as in the MyCordovaShop, still doent work. The pay with paypal wont call the paypal UI

it also tried to put content of the index page of MyCordovaShop  inside my booking page. but still won

[2015-11-09 03:42] #113 closed

[2015-11-09 08:04] saaksshi opened #116 "Installing plugin to Android Platform"
/plugins/com.paypal.cordova.mobilesdk/src/android/libs/arm64_v8a" not found!

This message I get .

[2015-11-09 15:35] miche-atucha opened #117 "version and ios"
My project is on ionic, I installed only iOS platform, and the command: ionic plugin add com.paypal.cordova.mobilesdk installs the 3.1.12 version, is this correct? is 3.1.17 not supported for iOS platform, i have cordova-ios v3.9.2

[2015-11-09 17:11] bluk commented on #116
@saaksshi Which version of the plugin are you using? `3.1.17` was released yesterday to help address this issue.

[2015-11-09 17:25] bluk commented on #117
`3.1.17` should be supported for iOS and is [published to npm](https://www.npmjs.com/package/com.paypal.cordova.mobilesdk). A normal `cordova plugin add com.paypal.cordova.mobilesdk` and `cordova plugin update ios` seems to update the version used for a regular Cordova install.

[2015-11-09 18:50] rcorrie opened #118 "Plugin not using correct clientIDs"
This is a strange one... I set up the project as instructed, set up my clientID's, etc. The plugin works.

Now I changed out the clientIDs to a different account, but all transactions are still being posted to the old account clientID's.

I've set up breakpoints in the safari inspector as well as in the PayPalMobileCordovaPlugin.m and in both places the clientID's look correct yet the plugin is st

[2015-11-09 19:37] bluk commented on #118
Hmmm...I would try to find the old clientID anywhere in your code base to see if it's being kept in some staging location or stale build directory. If you did a search for `PayPalEnvironmentSandbox` or `PayPalEnvironmentProduction`, you may find other places where you may be setting the client ID.

[2015-11-09 20:24] rcorrie commented on #118
Thanks for you time! It's a Non-issue, it was due to a lack of understanding the paypal developer console UI.

[2015-11-09 20:24] #118 closed

[2015-11-09 22:51] miche-atucha commented on #117
i update today and it is ok, thanks!

[2015-11-09 22:51] #117 closed

[2015-11-10 20:30] leoo232 opened #119 "Does the mobile sdk need a specific version of jquery or bootstrap?"
Hi all,

Transferred a working app to new design layout and the paypal payment button wont click? any version specific dependency for dependency jquery or bootstrap? does it support a minimum and maximum version?

thx

[2015-11-10 23:40] romk1n commented on #119
@leoo232 this plugin doesn't use `jquery` nor `bootstrap` there is no dependency on those frameworks.

[2015-11-11 20:43] #119 closed

[2015-11-11 21:14] leoo232 commented on #114
@bluk @romk1n Tried version 3.1.17 on iphone 4. Reached paypal page but app closes immediately(crash)
 Please advise

thx

[2015-11-11 21:19] leoo232 commented on #114
android throws the following error. all built using online build

rror - Plugin error (you probably need to remove plugin files from your app): Fetching plugin "com.paypal.cordova.mobilesdk@3.1.16" via npm Installing "com.paypal.cordova.mobilesdk" for android Error during processing of action! Attempting to revert... Failed to install 'com.paypal.cordova.mobilesdk':Error: Uh oh! "/tmp/gimlet/569/1

[2015-11-11 21:23] bluk commented on #114
For the Android error, you can try using version `3.1.18` (`3.1.17` should have fixed it and `3.1.18` has a bug fix for iOS). @romk1n made a fix for the wrong directory error.

For the iOS crash, is there anything in the console or anything else? I would really try starting with a simple page, especially on an iPhone 4. Older devices may stop your app because it runs out of available memory.

[2015-11-12 06:26] DevSubhashis opened #120 "Chained payment"
This is just a question, do paypal support chained payment through mobile sdk?

[2015-11-12 16:24] leoo232 commented on #114
@bluk got this when i tried 3.1.18

plugin unsupported: com.paypal.cordova.mobilesdk @ 3.1.18

[2015-11-12 23:49] sanctus671 commented on #114
is 3.1.18 tested and working on ios9? I had some issues with it crashing on ios9 too so hoping 3.1.18 has it fixed

[2015-11-13 11:38] mfkenson opened #121 "Possibility of personal payment with paypal sdk/plugin"
Does PayPal SDK / plugin support personal payment?
There are 100+ users on my platform and I would like to make something like user to user payment. (assuming they all have paypal accounts).
Any hint/direction/alternative solution is appreciated! Thanks

[2015-11-13 13:21] gmarziou opened #122 "Please provide release notes"
Please provide release_notes.md as it is done for [PayPal-iOS-SDK](https://github.com/paypal/PayPal-iOS-SDK/blob/master/release_notes.md) and [PayPal-Android-SDK](https://github.com/paypal/PayPal-Android-SDK/blob/master/release_notes.md).

Thanks

[2015-11-13 16:26] bluk commented on #114
@sanctus671 Yes, it should work. There was a network issue with iOS 7 that was fixed with `3.1.19`.

[2015-11-13 16:31] bluk commented on #122
Great suggestion, we will try to provide this going forward. For past releases, you can look at the [GitHub releases](https://github.com/paypal/PayPal-Cordova-Plugin/releases) for links to the respective SDK updates.

[2015-11-13 16:41] bluk commented on #121
Sorry direct personal user-to-user transfer isn't currently supported in the SDKs, and I don't believe there are any APIs for this. You may want to look at [PayPal.me](https://www.paypal.me) though.

[2015-11-13 16:41] #121 closed

[2015-11-13 16:44] bluk commented on #120
No, the mobile SDKs are based on the REST API which do not currently support chained payments. Please see https://github.com/paypal/PayPal-iOS-SDK/issues/9 .

[2015-11-13 16:44] #120 closed

[2015-11-13 16:44] bluk commented on #116
Please reopen if you still encounter this issue on the latest plugin version.

[2015-11-13 16:44] #116 closed

[2015-11-13 17:37] leoo232 commented on #114
hi all, 3.1.18 works on ios 9. tested on ipad mini 2

[2015-11-13 17:51] bluk commented on #114
@leoo232 Great! I'll close this issue but if you have any other problems, please feel free to open a new issue.

[2015-11-13 17:51] #114 closed

[2015-11-13 18:26] leoo232 opened #123 "3.1.19 not working on iphone 4 on ios 7"
Tested the latest on iphone 4 on ios 7, the app does not crash but the button does not click to go on the paypal payment page

cheers

[2015-11-13 19:20] bluk commented on #123
I tried a sample Cordova app on a iPhone 4s running iOS 7.1.1 with the latest plugin, and it seems to work. Is there any other information you can provide? Any logs in the console?

[2015-11-13 19:33] leoo232 commented on #123
Did you do it fro the online build? if yes can you provide your config file please. Having difficulty keeping the same config for ios and android.

[2015-11-13 19:53] bluk commented on #123
I used the command line for getting the Cordova plugin and setting up the project, and then used Xcode to install it on some devices (due to some code signing issues on my machine). Is there a reason why you can't use the latest plugin for both iOS and Android?

[2015-11-13 22:20] gmarziou commented on #122
Thanks

[2015-11-15 10:14] leoo232 commented on #123
Hi @bluk I used the online build setting the version to 3.1.19 with @romk1n example and it does not work on Android :(

[2015-11-16 15:37] marcio199226 opened #124 "[android] JSON error when initialize plugin on latest version"
HI i have tried to use this plugin but i have always a JSON error in my console using this plugin with ionic.

Anyone know how to fix it?

[2015-11-16 16:13] bluk commented on #124
Can you please be more specific about the JSON error and what version of the plugin you are using?

[2015-11-16 17:51] marcio199226 commented on #124
i have used the latest version.
I have used this service also https://gist.github.com/Urbiwanus/c1e456f889f53e940a11
i have tried use this plugin without service posted above but i had the same result when i run:
    PayPalMobile.init(); //with args
In console i have JSON error and no more info about this error.

I tried to reinstall your plugin and remove android platform to add it again later bu

[2015-11-17 09:49] anandstarz opened #125 "How to send payment to personal account"
Hi there am using Cordova Paypal plugin located here,

https://github.com/paypal/PayPal-Cordova-Plugin.

I have created sandbox account in Paypal developer. then I created one app.

It creates Business account like "anandstarz-facilitator@gmail.com".

I have created two personal accounts "mark@gmail.com" , "anandstarz-buyer@gmail.com"

When am using the app, (I did't mentioned receiver account det

[2015-11-18 17:33] marcio199226 commented on #124
nevermind i solve my trouble by self implementing it within inappbrowser.

Thanks and wish you good work.

[2015-11-18 17:41] bluk commented on #124
Great! Thanks for reporting back.

[2015-11-18 17:41] #124 closed

[2015-11-19 17:33] bluk commented on #125
The REST Payment APIs which this plugin is based on does not support PayPal consumer to consumer aka peer-to-peer payments (versus buyer to merchant). You can try looking into [PayPal.Me](https://www.paypal.me). While it doesn't use PayPal accounts, [Venmo](https://developer.venmo.com/docs/) is also popular and may support your use case.

[2015-11-19 17:33] #125 closed

[2015-11-20 05:23] anandstarz commented on #125
Hi I have seen those things but which is not supported in my location.

[2015-11-26 08:38] w4ilun opened #126 "3.1.19 PayPalMobile.init() returns JSON Error"
Tested on Cordova 5.4.1

Using the sample code and instructions provided, ran the example with:

[code]

Line 41 in cdv-plugin-paypal-mobile-sdk.js returns "JSON Error"

[2015-11-26 10:26] sanctus671 opened #127 "Credit card payment not accepted"
Hi,

I'm getting an error when users are trying to pay with a credit card via the cordova plugin. It is saying "merchant does not accept payments on this type". I saw that the REST api currently has a restriction on which countries it supports. I checked out the list: https://developer.paypal.com/webapps/developer/docs/integration/direct/rest-api-payment-country-currency-support/#direct-credit-car

[2015-11-29 23:39] jessemonroy650 opened #128 "Phonegap Build documentation out of date"
Your README.md is out of date for *Phonegap Build*. It is causing confusion in the forums. I'm constantly correcting people on this.

Source `source="plugins.cordova.io" ` is no longer valid.
Source should be `source=npm`. If you have not moved to NPM, I encourage you to.

Best of Luck
Jesse

[2015-12-01 16:23] #128 closed

[2015-12-01 16:23] bluk commented on #128
Thanks, I fixed the README.

[2015-12-01 16:30] bluk commented on #126
@w4ilun You may have to have the following:

[code]

If you do not have a production client ID, you can just use any placeholder value.

[2015-12-01 17:48] bluk commented on #127
Unfortunately, direct credit card for AU merchants aren't supported today. Talked with a teammate who stated if you're a US or UK merchant, it may be possible to do AUD DCC.

[2015-12-01 17:48] #127 closed

[2015-12-01 20:29] w4ilun commented on #126
Using a placeholder value for the production client ID works, thanks @bluk! Would be nice to have a more verbose error response in the future.

[2015-12-01 20:29] #126 closed

[2015-12-02 06:34] Reiji87 opened #129 "Pulling 3.1.12 instead of 3.1.19 using cordova plugin command"
Hi,

Im using cordova plugin add command to add the cordova paypal plugin, but it is feteching version 3.1.12 instead of 3.1.19?

Can anyone help me with this?

Thank you

[2015-12-03 08:59] sam2908 opened #130 "how to integrate cordova paypal php ?????"
Hello,

how to integrate cordova paypal php ?????

Thank you :)

[2015-12-08 07:23] Vincenttbk opened #131 "Getting debug ID with cordova plugin."
Hi,

Is there anyway for me to get the debugID and send it to my backend server using the paypal cordova plugin.

Thanks in advance!

[2015-12-08 19:39] avishayhajbi commented on #102
Israeli new shekel	ILS
is mentioned in that document and it's not working..
why?

[2015-12-09 10:10] Vincenttbk opened #132 "Credit Card user being charged multiple times"
Hi,

I've rolled out my app recently, and I have complains of users being charged multiple times on their credit card.

They paid using direct credit card feature.

Would want to find out if anyone encounter this issue?

Thanks

Regards
Vincent

[2015-12-09 16:14] ppmtscory commented on #132
@Vincenttbk can you please provide a couple of Sale ID's for the duplicates?

[2015-12-09 18:58] ppmtscory commented on #102
@avishayhajbi that document outlines currencies that are available for PayPal payments.  ILS is not a supported currency for direct credit card payments.

[2015-12-10 00:40] Vincenttbk commented on #132
How do i get the Sales ID?

[2015-12-10 05:15] ppmtscory commented on #132
It would be your transaction ID of the payment that went into your account.

[2015-12-11 19:55] papasmurph opened #133 "PGB can't build for Android with 3.1.20"
iOS is fine. Android is not. I include js/paypal-mobile-js-helper.js in index.html. Anything else needed now?

See below:

-compile:
    [javac] Compiling 15 source files to /project/bin/classes
    [javac] /project/src/com/paypal/cordova/sdk/PayPalMobileCordovaPlugin.java:20: error: package com.paypal.android.sdk.payments does not exist
    [javac] import com.paypal.android.sdk.payments.*;
    [j

[2015-12-11 19:57] papasmurph commented on #130
This is probably what you need: https://github.com/paypal/PayPal-PHP-SDK, not this plugin.

[2015-12-11 20:06] jaypatel512 commented on #133
I would recommend you trying https://github.com/romk1n/MyCordovaShop as a sample for getting started with Cordova Plugin. You can then directly modify it to your use and continue using it further.

I tested the latest release with the sample and it worked properly.

Re-open if the issue still exists.

[2015-12-11 20:06] #133 closed

[2015-12-11 20:27] papasmurph commented on #133
My app is based on that code, but of course rewritten. It worked a few days ago for both platforms, now it doesn't build for Android. I can perform payments with iOS and I get the right responses as well, so nothing is wrong there.

Did you test it with PGB or command line? I use PGB.

[2015-12-11 20:30] jaypatel512 commented on #133
We did make change to cordova plugin in the latest build. We are now using maven dependency to bring all android dependency. This might have affected you some way. I am try to reproduce this issue again. However, if you could, I would appreciate if you could run the given above sample code, and see if that works. This way, I could get better help on debugging and fixing this issue.

[2015-12-11 20:39] papasmurph commented on #133
I also noted that PGB has 3.1.19.

[2015-12-11 20:52] papasmurph commented on #133
Same problem.

I had to modify config.xml:

`<?xml version='1.0' encoding='utf-8'?>
<widget
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap="http://phonegap.com/ns/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.mycompany.cordova.myshop"
    version="0.1"
    android-versionCode="001"

    <name>MyCordovaShop</name>
    <description>A sample Apache Cordova ap

[2015-12-17 12:38] karneshkumar opened #134 "Class not found"
I have integrate Paypal plugin into my VS Cordova project as per given instruction. While run the project it show the below in javascript console.

**Class not found**
cdv-plugin-paypal-mobile-sdk.js (41,13)

Please help me to find out the issue.

**This what i have code**
[code]

[2015-12-18 01:39] Vincenttbk commented on #132
Hi, is it safe to post the transaction ID here? is there a way to private message? THanks :)

[2015-12-18 16:45] ppmtscory commented on #132
Yes, you can paste the transaction ID here, that's fine.  Otherwise, if you don't feel comfortable, you can always file a ticket with our [Merchant Tech Support](https://www.paypal-techsupport.com/app/ask) team to work with an agent directly.  Just be sure to include your account email address, transaction example, and reference to this GitHub issue in your ticket.

[2015-12-19 17:24] alien3d opened #135 "Adaptive Payment"
It's there any sample of it? if any website and it's API  do please help me. Been implement adaptive payment php and rest api php before. Need to knew adaptive payment for cordova.

[2015-12-19 17:25] alien3d commented on #130
CORDOVA mean client base language. PHP is server base.

[2015-12-19 22:34] lijithmg opened #136 "Payment success, but transactions not shown in Paypal account"
Hello,

I am using Paypal-Cordova-Plugin for an e-commerce mobile application. I'm able to make payment both using sandbox and live client ID's and the payment shows success. But I don't see these transactions listed in the merchant Paypal account whose Client ID's are added to the application.
Can you please help me as why the transactions are not getting reflected. Please help me ASAP.

Thanks!

[2015-12-20 03:06] Vincenttbk commented on #136
Hmmmm... make sure that you've logged in the right portal to check the transaction on the merchant side.

sandbox.paypal.com for sandbox transaction.

[2015-12-20 13:43] lijithmg commented on #136
Yes. I've checked but still not there. But what about the live transactions. Even that doesn't show up in the portal. Is there any specific settings to be enabled for having the transactions reflect apart from Client ID and setting environment to either Sandbox / Production. Please let me know.

Thanks!

[2015-12-20 21:25] avishayhajbi commented on #136
1.Change  the sandbox to production and it will work.
2. Check your user id for both (sandbox and live)
3. Make sure you authenticate the payment with the right method.

[2015-12-21 03:09] lijithmg commented on #136
@avishayhajbi
I'm able to find the transaction in sandbox account now. I'm facing 2 issues now.
1. The transaction id returned from the onSuccesfulPayment() ["PAY-xxxxxx"] and the id found in the sandbox account transaction history ["#xxx"] seems to be different. Can you please let me know whether I should be doing some operations so that i get the same transaction id in the response returned from

[2015-12-21 16:56] jaypatel512 commented on #130
Closing the issue, as the answer was provided by @papasmurph and @alien3d !

[2015-12-21 16:56] #130 closed

[2015-12-21 16:57] jaypatel512 commented on #129
This generally happens when the cache is not yet updated in cordova repositories. However, we made some changes to Cordova Plugin in Android SDK specifically, that would reduce this caching issues.

[2015-12-21 16:57] #129 closed

[2015-12-21 17:38] bluk commented on #135
Unfortunately, adaptive payments are not available via this plugin or the regular mSDKs.

[2015-12-21 17:38] #135 closed

[2015-12-21 17:39] bluk commented on #134
What does `cdv-plugin-paypal-mobile-sdk.js (41,13)` refer to?

[2015-12-21 18:41] avishayhajbi commented on #136
I had the same problem check if your live mode is active. For the first
issue i think you should authenticate your payment id.

On Mon, Dec 21, 2015, 05:09 Lijith Mannampat Gopinath <
notifications@github.com> wrote:

[2015-12-21 18:47] lijithmg commented on #136
Yes. Live mode is active. Because I can see sandbox notifications there but not the sandbox transactions. I don't see live transactions happening.
Can you please tell me how to authenticate the payment id.

[2015-12-21 19:40] avishayhajbi commented on #136
you can see how to authenticate here:
https://developer.paypal.com/docs/api/#authentication--headers

p.s
if you can see sandbox notification and transactions you can be sure your
live will work too.
first, work with sandbox and then just change the clientID to live and the
environment to Production
sec, in my sandbox the transaction id and the notification id isn't match.

On Mon, Dec 21, 2015 at

[2015-12-21 21:13] lijithmg commented on #136
@avishayhajbi

Thanks for your response.
So may be sandbox works that way i.e. sandbox transaction id and the notification id doesn't match.. What about live.? does the transaction id and notification id match.?
Also, I don't understand why we don't see sandbox transactions here https://developer.paypal.com/developer/dashboard/sandbox/
Also, please tell me where should the merchant  check for live

[2015-12-21 21:42] avishayhajbi commented on #136
in paypal developer i only can see live transactions the real payment is in
your paypal account.
maybe this is what you are looking for:
https://github.com/paypal/PayPal-Android-SDK/issues/181

On Mon, Dec 21, 2015 at 11:13 PM, Lijith Mannampat Gopinath <
notifications@github.com> wrote:

--
*Avishay Hajbi*
*WEB APPLICATION DEVELOPER*

[2015-12-22 23:16] netstudenton opened #137 "How to get payment id ?"
How to get the payment id from a payment made within the plugin ?
I want store this id for future analysis of the status.

[2015-12-27 00:37] jaypatel512 commented on #137
In general, you can follow the instructions as shown in the [Sample App](https://github.com/romk1n/MyCordovaShop/blob/master/www/js/index.js#L60) here, and obtain the payment object, which will contain  the payment Id for a successful payment.

[2015-12-27 00:37] #137 closed

[2015-12-28 18:45] jiju0nair opened #138 "How to show the UI in popup (Popover) ?"
I found this option named "presentingInPopover" in paypal-mobile-js-helper.js file under PayPalConfiguration section. I set it to true but no further idea how to show the UI in popup. No documentation on this section found.

The reason for it is we want the users to see our app layout in background, confirming that they are still on the same app.

Using Cordova 5.1.1.
Android Platform 4.1.0

Help

[2016-01-05 13:39] Priyanka-Razdan opened #139 "Client Authentication failed"
Hi,

I have integrated this plugin in my sample app. I have followed each of the steps given and also using the correct client id but always getting the following message in console. Also getting "Invalid Merchant" pop up each time.

PayPal SDK: Request has failed with error: invalid_client - System error (invalid_client). Please try again later. (401) | PayPal Debug-ID: 6023471a144df [sandbox, Pa

[2016-01-10 16:10] DenysHill opened #140 "doesn't work on android."
I added this plugin using cordova cli.

and i added paypal sdk. (https://github.com/paypal/PayPal-Android-SDK)
compile 'com.paypal.sdk:paypal-android-sdk:2.12.4'

and i added palpal-mobile-js-helper.js file to my project.

I think i added this plugin exactly.

------

but it does not work on Android 5.0 and the app does crash.

[2016-01-10 17:33] bluk commented on #139
Are you using the correct client id for sandbox (vs. production)?

[2016-01-10 18:57] jaypatel512 commented on #140
You dont have to add paypal sdk (Android SDK) to make it work for Cordova Plugin.

Just follow the steps here, and you should be able to install this fine.

[2016-01-11 01:54] #140 closed

[2016-01-13 23:11] norvinjohn opened #141 "PHP currency not supported?"
Hello,

Thanks for the great plugin!

I' am a beginner in developing hybrid mobile application using ionic. My question, is the plugin capable of handling a Philippine Peso (PHP)  currency? I' am currently encountering this issue using my sandbox account in PayPal.

Here the service I' am using to interface my application to your plugin.
[paypalservice.txt](https://github.com/paypal/PayPal-Cordova

[2016-01-13 23:20] bluk commented on #141
Going by the [supported currency documentation](https://developer.paypal.com/docs/integration/direct/rest-api-payment-country-currency-support/) for the REST APIs on developer.paypal.com, the Philippine Peso (PHP) currency is supported.

Is there an error that you are encountering? I couldn't tell from the code snippet that you attached what the actual error is.

[2016-01-14 00:45] norvinjohn commented on #141
Sorry incomplete info. Although I did not receive any error logs from my console.

Response from the plugin:
![screenshot_2016-01-14-08-40-14](https://cloud.githubusercontent.com/assets/6295837/12312498/f3ff24c4-ba9a-11e5-9872-99f745ef1711.png)

Response from my sandbox account:
{
	"status": 400,
	"duration_time": 538,
	"body": {
		"message": "Currency is not supported",
		"information_link": "htt

[2016-01-14 02:43] bluk commented on #141
The `PHP` currency should work for PayPal account payments (where you use a PayPal account to pay instead of a credit card directly). I don't believe direct credit card payments support the Philippine Peso (PHP) currency. To make sure though, you can contact [PayPal Merchant Technical Support](https://www.paypal-techsupport.com)

[2016-01-15 00:05] atiladelcanton commented on #139
Hello I'm having a similar problem , but it does not know where to get my key production would be activating the live mode?

[2016-01-15 11:48] atiladelcanton commented on #141
@norvinjohn

you are using integration using the right ionic ?

you took issue with Client vendor ID in integration?

And from what I saw you chose to use all php integration via the app as it does ?

[2016-01-15 14:46] norvinjohn commented on #141
Hi @bluk thanks for taking time to answer my question. I will try to contact Paypal's technical support if direct credit card payment with PHP is not supported.

@atiladelcanton
Yes I' am using currently using ionic version 1.6.5. Did not encounter any issue with client vendor ID integration. Yes that is correct.

[2016-01-15 15:41] juwlee commented on #141
@norvinjohn FYI, [currencies supported by PayPal REST APIs](https://developer.paypal.com/docs/integration/direct/rest-api-payment-country-currency-support/), although I would double check with PayPal MTS as @bluk suggested.

[2016-01-15 16:39] bluk commented on #139
@atiladelcanton You can get your "Live" production on the [PayPal Developer Dashboard in the Applications](https://developer.paypal.com/developer/applications/). After you create/select your application, there should be a toggle in the upper right to switch from `Sandbox` and `Live`.

In your code, you will need to use the Client IDs when calling PayPalMobile.init. Some examples have the following

[2016-01-15 16:46] bluk commented on #132
Closing this issue due to it seeming to be resolved via Merchant Tech Support. If not, please leave a comment.

[2016-01-15 16:46] #132 closed

[2016-01-15 16:46] bluk commented on #134
Closing this issue due to inactivity. If there are further details, please leave a comment.

[2016-01-15 16:46] #134 closed

[2016-01-15 16:47] bluk commented on #123
Closing this issue due to inactivity. If there are further details, please leave a comment.

[2016-01-15 16:47] #123 closed

[2016-01-15 16:48] atiladelcanton commented on #139
I've tried both of these ways , and could not , only to leave in order nonetwork " something " that can test the flow , when I switch to sandbox or production of this error.

Includes client_id sandbox and production put the error persists :(

[2016-01-15 16:48] bluk commented on #136
Closing this issue due to inactivity. If this is still an issue, please leave a comment.

[2016-01-15 16:48] #136 closed

[2016-01-15 16:53] atiladelcanton commented on #141
@norvinjohn

Show me it would be possible Implementation YOURS?

For I am the day with ONE problem that prevent me from continuing

[2016-01-15 16:58] pp-randy commented on #141
@norvinjohn take a look at the classic direct payment credit card documentation https://developer.paypal.com/docs/classic/api/currency_codes/#creditcard

I was able to test and Australian merchant with PHP currency.

[2016-01-15 18:30] bluk commented on #139
@atiladelcanton Can you try to get the [MyCordovaShop sample](https://github.com/romk1n/MyCordovaShop) working with your sandbox/production client ID? That may help see if it's a code issue.

[2016-01-15 18:38] atiladelcanton commented on #139
It was based on this that I found an implementation for ionic , put in sandbox mode it 's me the message Seller Invalid ( Invalid Customer ID ) .

The client_id are public or secret ?

[2016-01-16 05:16] norvinjohn commented on #141
Noted @juwlee

@atiladelcanton it's probably better if you share your current code with us to see where your having error/problem in the implementation.

Thanks @pp-randy I found your answer very helpful, though I' am unable to confirm it yet but base on the reference you shared my merchant sandbox account is US based.

I will inform you as soon as possible if that is really the cause of the "unsu

[2016-01-16 05:44] norvinjohn commented on #141
@pp-randy confirmed your answer US base merchant account really don't support PHP currency. Thanks again @pp-randy hope to see you comment again if I had some issue :+1:  :)

[2016-01-16 11:04] atiladelcanton commented on #141
#Service.js

[code]
#app.js
[code]
#Implementation
[code]

[2016-01-16 11:08] atiladelcanton commented on #139
My implementation code
#Service.js

[code]
#app.js
[code]
#Implementation
[code]

[2016-01-16 11:49] atiladelcanton opened #142 "send various items"
I'm not  finding out how do I send more than one item in my case more than a ticket to the event

[2016-01-16 23:02] atiladelcanton commented on #139
I could thank you

[2016-01-18 15:10] jiju0nair commented on #138
Anyone here to help with this section ?

[2016-01-19 12:45] norvinjohn commented on #141
@atiladelcanton

What I noticed is that we have different configuration.

Your configuration:
[code]

My configuration:
Note this configuration is based on the example provided by the author of this plugin.
[code]

[2016-01-19 23:53] atiladelcanton opened #143 "How do I submit an item for you anymore ?"
Is there a way to spend more than one product to make payment or can only spend , because in my case the customer can buy two or more different items

[2016-01-19 23:59] bluk commented on #143
Yes, see the [items property](https://github.com/paypal/PayPal-Cordova-Plugin/blob/master/www/paypal-mobile-js-helper.js#L88) which is an array of [PayPalItem](https://github.com/paypal/PayPal-Cordova-Plugin/blob/master/www/paypal-mobile-js-helper.js#L16) objects. The PayPalPayment will be the total amount and you can list individual items using PayPalItem objects.

[2016-01-20 00:00] bluk commented on #142
Answered in #143

[2016-01-20 00:00] #142 closed

[2016-01-20 00:17] atiladelcanton commented on #143
I saw THIS Function , More How do I implement and send to paypal , there is no example

[2016-01-20 17:51] coolnd3adly opened #144 "SERVER_COMMUNICATION_ERROR"
Android 4.4.2
Plugin 3.1.20

I am testing my new app in the sandbox environment but it goes to the "checking this device" screen then the following error is displayed

![39857f5a-a012-11e5-9b85-2bee7c536e8c](https://cloud.githubusercontent.com/assets/16630799/12457750/59d252de-bf74-11e5-9750-ee8f9b101655.png)

[2016-01-20 20:23] bluk commented on #143
The code can be something like this:

[code]

The total/subtotal amounts must correctly add up to the right total values. Hope that helps.

[2016-01-20 20:31] bluk commented on #144
If you are using `3.1.2` you need to update to the latest version of the plugin (currently `3.1.20`). The PayPal sandbox environment was changed to only allow TLS 1.2 connections. You can read more about the [TLS 1.2 change on the PayPal Info Center](https://www.paypal-knowledge.com/infocenter/index?page=content&id=FAQ1914&expand=true&locale=en_US).

[2016-01-20 21:36] coolnd3adly commented on #144
I am using the latest version (3.1.20)

[2016-01-21 04:07] coolnd3adly commented on #144
I changed this line
compile('com.paypal.sdk:paypal-android-sdk:2.12.4')
to
compile('com.paypal.sdk:paypal-android-sdk:2.12.5')
but still getting the error

[2016-01-21 05:00] coolnd3adly commented on #144
yes its like @braebot said so I'll have to wait for a fix

[2016-01-21 11:57] atiladelcanton commented on #144
@coolnd3adly
I'm having the same problem des yesterday and my plugin is the latest version

[2016-01-21 16:15] bluk commented on #143
Seems this was resolved. Please leave a comment or open a new issue if you still need assistance. Thanks.

[2016-01-21 16:15] #143 closed

[2016-01-22 12:17] atiladelcanton commented on #144
Someone has achieved something about this item ?

[2016-01-22 12:27] jiju0nair commented on #144
Fixed in 2.13.0 release.

[2016-01-22 15:23] #144 closed

[2016-01-22 16:13] bluk commented on #141
It seems the original issue has been resolved with the `PHP` currency, so will close this issue. If there's any other issue, please open a new one. Thanks.

[2016-01-22 16:13] #141 closed

[2016-01-23 07:45] norvinjohn opened #145 "Problem communicating with PayPal server"
Hi again guy! :D

Does this happen often?

![screenshot_2016-01-23-14-22-44](https://cloud.githubusercontent.com/assets/6295837/12529116/4208b32a-c1e8-11e5-855e-29825b296663.png)

Sorry did not notice you already have some updates regarding this issue.

Thanks again and God bless.

[2016-01-24 08:49] norvinjohn commented on #145
Additional information: This error occur while using sandbox account.

Thanks in advance for the reply. :D

[2016-01-25 03:55] jethdeguzman opened #146 "the cordova plugin still uses 2.9 android sdk"
I tried adding the paypal cordova plugin using `cordova plugin add com.paypal.cordova.mobilesdk`. It works fine except when I'm in sandbox mode. I read that there's a known issue regarding TLSv1.2  in paypal android sdk that is fixed by upgrading to  version 2.13.0. But I notice that cordova plugin still uses version 2.9.11.

[2016-01-25 19:00] jaypatel512 commented on #146
Version [3.1.21](https://github.com/paypal/PayPal-Cordova-Plugin/releases/tag/3.1.21) has updated [android sdk v2.13.0](https://github.com/paypal/PayPal-Cordova-Plugin/blob/3.1.21/src/android/build.gradle#L6)

[2016-01-25 19:02] jaypatel512 commented on #145
Closing this issue as this issue has been taken care of in the latest version.

[2016-01-25 19:02] #145 closed

[2016-01-25 22:34] Overseas634 opened #147 "Not Working"
I have followed the steps defined in readme.md
replaced index.js
and placed html content in index.html
and added helper file in index.html
but not able to work out
please help me how to debug it

[2016-01-26 00:07] jethdeguzman commented on #146
This is weird. When I run `cordova plugin add com.paypal.cordova.mobilesdk` and then check the plugins directory, I notice that the file name of the jar is `PayPalAndroidSDK-2.9.11.jar`. So the file name suggest that I'm still not using the current version and plus the fact that I'm still experiencing sandbox pinning issue.

![screenshot from 2016-01-26 07 52 00](https://cloud.githubusercontent.co

[2016-01-26 05:33] jaypatel512 commented on #146
From the looks of it, it seems that your cordova command is installing old version of cordova plugin, as we do not ship jars anymore, and the code looks very different now. Can you please make sure the latest version of plugin is getting installed, while I try to reproduce this issue in my local machine.

[2016-01-26 09:25] Overseas634 commented on #147
ReferenceError: PayPalMobile is not defined

PayPalMobile.init(clientIDs, app.onPayPalMobileInit);

index.js (line 60)

[2016-01-26 16:43] claudioviola opened #148 "Customize the UI of paypal window"
Is there a way to customize the UI of paypal window?
Thank you

[2016-01-26 17:26] jaypatel512 commented on #148
No. The look and feel for the Paypal window is restricted to keep the look and feel for paypal specific activities similar across all integrations.

[2016-01-26 17:26] #148 closed

[2016-01-30 14:27] wudong opened #149 "How to verify the payment on the server side?"
After user successfully pay within the app, I will then need to send register the payment in my backend server.
The question is how can I verify the payment on the server?

I understand that In the web-based paypal payment, this is done through a redirect url callback from paypal but I cannot see where to set the callback url in the mobile sdk.

[2016-02-01 04:22] #149 closed

[2016-02-04 05:20] sahidhossen opened #150 "Cordova 5.4.1 paypal button did not work."
I am using cordova 5.4.1 with ios and android. But when I click the paypal buynow button its did not response me at all.
I have implement all of your code but same case here button did not response me.

Please give me a suggestion

[2016-02-04 06:08] AgNm opened #151 "request failed with server response:null, SERVER_COMMUNICATION_ERROR"
The plugin was working fine few days ago. But now I'm getting this error in logcat:
**request failed with server response:null, SERVER_COMMUNICATION_ERROR**

And getting following error while I'm running my app :

**There is a problem communicating with the PayPal servers . Please try again.**

Is this issue in Paypal server or any mistake from my end?

[2016-02-04 07:55] AnjanaNm commented on #151
Please reply asap...

[2016-02-05 05:17] jaypatel512 commented on #150
The best way to get started with the cordova plugin is to follow this quick sample provided here: https://github.com/romk1n/MyCordovaShop

This will get you started very quickly, and give you a base to get started with Cordova Plugin right away.

Please provide us with a bit more detail about device, OS version, etc if this does not solve this issue.

[2016-02-05 05:24] jaypatel512 commented on #147
This would be a [good place](https://github.com/romk1n/MyCordovaShop) to compare your code with the sample provided. This should help you figure out why the object is not getting initialized properly.

If still you are facing the issue, please let us know more details about the code in index.js to better assist you.

[2016-02-05 05:50] AnjanaNm commented on #151
Yes, it is failing on Android.
Android SDK version is 24.4.1
Android version is 4.4.2.
This is sandbox.
This is the exception that I'm getting in log :
W/System.err(19872): javax.net.ssl.SSLPeerUnverifiedException: No peer certificate

[2016-02-05 14:16] Francomqz15 commented on #151
I've too  same error in my project

[2016-02-05 16:01] bluk commented on #151
Are you using the [latest PayPal Cordova plugin](https://github.com/paypal/PayPal-Cordova-Plugin/releases) (version 3.1.22 as of this moment)? There have been networking related fixes in release 3.1.21.

[2016-02-05 16:44] jaypatel512 commented on #151
Can you verify if you are not facing this issue ? https://github.com/paypal/PayPal-Cordova-Plugin/issues/146

It seems like, the old jar is getting downloaded for some reason when adding plugin.

[2016-02-06 16:52] sahidhossen commented on #150
It work's only in simulator but when I run in device it says "There was a problem communicating with  the paypal servers."
I using -
   HTC 620
  android-4.4.2,
  cordova-5.2.2
  cordova android-4.0.2

Please give me a solution for this error.
Thanks.

[2016-02-08 05:46] AnjanaNm commented on #151
How can I cross check the version?

[2016-02-09 14:14] holospeed opened #152 "Add Hungarian Locale"
I try to localize the plugin.
I know, in the paypal-mobile-js-helper.js the plugin can be localized in many languages ( da,de,en,en_AU,en_GB,en_SV,es,es_MX,fr,he,it,ja,ko,nb,nl,pl,pt,pt_BR,ru,sv,tr,zh-Hans,zh-Hant_HK,zh-Hant_TW), but I would like to localize to a not supported langue.

Where can I find the files what i have to translate if I want to localize the plugin? ( iOS, Android )

Thx 4 the

[2016-02-09 14:49] pp-randy commented on #150
@sahidhossen are you using the latest release of the PayPal plugin?
https://github.com/paypal/PayPal-Cordova-Plugin/releases

[2016-02-09 16:54] bluk commented on #152
Unfortunately, the translations are not changeable. What language do you want to use?

[2016-02-09 17:01] holospeed commented on #152
I would like to use Hungarian language.

[2016-02-09 21:13] holospeed commented on #152
Hungarian language is not on the supported languages list: https://developer.paypal.com/docs/classic/api/locale_codes/
But its on the supported countries list:
https://developer.paypal.com/docs/classic/api/country_codes/
It would be fantastic to use PayPal for buying methods. But that would be easier for the customers if they don't have to read in english the different steps during the buying meth

[2016-02-10 10:19] holospeed commented on #152
Thank you for your answer any way, is there a forum where I can write to PayPal to report this problem ? Thank you :)  :+1:

[2016-02-10 14:39] holospeed commented on #152
Thank you so much :)

[2016-02-11 14:42] #152 closed

[2016-02-16 03:10] jamminjames opened #153 "'Cannot find symbol' errors in Phonegap Build using ant"
When using the plugin with Phonegap Build, I get 54 errors, for example:
[javac]   symbol:   variable PayPalFuturePaymentActivity
[javac]   location: class PayPalMobileCordovaPlugin
[javac] /project/src/com/paypal/cordova/sdk/PayPalMobileCordovaPlugin.java:415: error: cannot find symbol
[javac]                 PayPalAuthorization auth = null;

I used this line in the PhoneGap Build config file:
`<

[2016-02-21 02:53] AndreyKutuzov opened #154 "Gradle incompatible with XDK"
When building app in XDK error occurred:
Error: Plugin com.paypal.cordova.mobilesdk cannot be added. The plugin contains Gradle scripts.

[2016-02-25 13:33] RenuDaffodilsw opened #156 "Error while building app with android and ios."
I am using cordova-android (3.6.4) and cordova-ios (3.9.2) but the build fails for both.
I have added plugin using 'cordova plugin add com.paypal.cordova.mobilesdk'.

KIndly find the attachment for more detail :
[androidErrror.txt](https://github.com/paypal/PayPal-Cordova-Plugin/files/146554/androidErrror.txt)
[iOSErrror.txt](https://github.com/paypal/PayPal-Cordova-Plugin/files/146555/iOSErrror.t

[2016-02-25 13:36] bluk commented on #156
Which version of Xcode are you using for the iOS build? Generally, you are required to have the latest Xcode (7.2.1 right now).

[2016-02-25 13:38] bluk commented on #147
Closing due to inactivity. If this is still an issue, please leave a comment.

[2016-02-25 13:38] #147 closed

[2016-02-25 13:38] bluk commented on #146
Closing due to inactivity. If this is still an issue, please leave a comment.

[2016-02-25 13:38] #146 closed

[2016-02-25 13:38] bluk commented on #139
Closing due to inactivity. If this is still an issue, please leave a comment.

[2016-02-25 13:38] #139 closed

[2016-02-25 13:40] bluk commented on #89
Closing due to inactivity. If this is still an issue, please leave a comment.

[2016-02-25 13:40] #89 closed

[2016-02-26 06:13] RenuDaffodilsw commented on #156
I m using 7.1,  is it alright or I have to update this?

[2016-02-26 17:04] bluk commented on #156
7.1 should be good enough but I would always recommend using the latest official Xcode toolchain.

Looking at the error for iOS, it seems the compiler does not understand the nullable, non null and other nullability annotations. This was added in the Xcode 7.x versions.

My original guess was the version of Xcode you are using to compile is too old to understand the annotations.

Can you try runni

[2016-03-07 21:57] rphansen91 opened #157 "Upgrading to V3.1.23 brought my app from 13.2MB compiled to 20MB"
This seems like a huge change for just Network related fixes, any other reasons why my app almost doubled in size when the only change made was

cordova rm com.paypal.cordova.mobilesdk
cordova add com.paypal.cordova.mobilesdk

[2016-03-07 22:19] bluk commented on #157
Android or iOS? What version did you upgrade from?

[2016-03-07 22:19] bluk commented on #156
If this is still an issue, please leave a comment.

[2016-03-07 22:19] #156 closed

[2016-03-07 22:46] rphansen91 commented on #157
Android 4.1.1 and I upgraded from v3.1.15

[2016-03-09 06:31] saaksshi opened #158 "App doesn't even build for Android(Paypal SDK dependency not resolved)"
![screen shot 2016-03-09 at 11 58 04 am](https://cloud.githubusercontent.com/assets/9267263/13627162/6c7d0a28-e5ee-11e5-9774-4aeffed7d556.png)

I've tried your sample app as well there also same issue with eclipse.
I've attached image for errors.

Please help resolving this..

[2016-03-09 21:20] jaypatel512 commented on #158
Following instructions shown in README.md seems to work. Can you please follow the instructions shown below, and verify if it builds successfully.
[code]

You should see maven downloading paypal-android-sdk when running `cordova build`
[code]

[2016-03-09 21:23] miniportal opened #159 "Integration Issue"
Hi friends. I'm using Intel XDK and I need to integrate your plugin.

When I click in buyNow, I get "payment success: undefined"

Can you help me?
My code is bellow:

app2.initPaymentUI() is called in another file, inside deviceready event handler

<pre> var app2 = {
       initPaymentUI : function () {
         var clientIDs = {
           "PayPalEnvironmentProduction": "APP-XXXXXXXXXXXXXXXX", //

[2016-03-10 06:57] saaksshi commented on #158
Hi Jay.
If I build app with cordova command line it's building now.
but weird part is in any IDE is giving error in paypal java class.
I want to build this app via IDE eclipse or android studio .
there it still has issues ..

[2016-03-10 17:31] jaypatel512 commented on #158
Oh ! Ok.

I may be of little help here, but I will try to figure out why this happens. Btw, does that happens for any other such dependencies too ? Want to figure out, if there is something that needs fixing in our Plugin or in the IDE you are working on.

I will keep you updated.

[2016-03-10 17:55] #157 closed

[2016-03-10 18:57] miniportal commented on #159
Hello. I copy that code from README.MD and put in my app.

When I click in BuyNowBtn that function is called (callback) and I see in console "payment success: undefined"

[2016-03-11 06:11] saaksshi commented on #158
Only Paypal SDK dependency is not resolved.
That means while installing plugin may be id I open in eclipse or android SDK it's not able to find Paypal SDK.
Let me know If I can contribute in any way ..

[2016-03-12 16:37] leoo232 opened #160 "Paypal on Android"
Hi All,,I using version 3.1.23 but t fails on the online phonegap buid...

Im using this version as suggested by Bryant, which resolves the cnnot find paypal servers.

Please advise.

Thanks

[2016-03-14 00:40] jcasarez commented on #150
I also have android 4.4.2
Updated to latest paypal plugin 3.1.23
And still get error "There was a problem communication with paypal servers" on sandbox servers.
Talked to paypal. They have upgraded there paypal sandbox server to ssl TLS V1.2.
I still work on live server because they have not updated them.
Does this version support TLS V1.2?

[2016-03-14 17:44] yydmay opened #161 "onSuccessfulPayment not returning transaction"
I've integrated the demo into my application, i clicked 'buy now' button, went through the payment process and it succeeded, however, the onSuccessfulPayment returned the following object. it contains only the payment ID, no transaction information provided, I then logged in to my paypal sandbox account, I can only see emails to my sellers and buyers account, but no transactions logged.
Is this th

[2016-03-14 17:46] ppmtscory commented on #161
@yydmay this is exactly what you should be receiving back.  The next step is to verify the payment, which is explained [here](https://developer.paypal.com/webapps/developer/docs/integration/mobile/verify-mobile-payment/).

[2016-03-14 17:46] #161 closed

[2016-03-14 18:32] yydmay commented on #161
Thank you very much for quick reply. more on implementaion
1. Cordova plugin doesn't actually execute a payment? I have to use REST API to finish the transaction?
2. After verifying the payment, I am still not able to execute it as the payer ID is missing. the document says the payer ID is returned in return_url, but Cordova plugin does not allow to configure.

Sorry for noob questions since there

[2016-03-14 18:47] ppmtscory commented on #161
The payment is already completed at the point you get the response, however you need to do the verify payment step to ensure that the response actually came from PayPal and it wasn't just somebody sending a random payment response to your client.  Within the verify payment response...
[code]

[2016-03-14 19:00] yydmay commented on #161
Thanks again for helping me out

[2016-03-14 19:34] ppmtscory commented on #161
No problem!

[2016-03-15 09:47] enricodeleo opened #162 "OneTouch compatibility"
Hi! Has anyone tested the new feature OneTouch with the mobile SDK? Does it work?

[2016-03-15 15:03] bluk commented on #162
The Android portion of this mobile SDK will attempt to use the PayPal Wallet app when possible (similar to One Touch). This isn't One Touch exactly but it should help with the login experience. The iOS portion of this SDK does not.

A future possibility for One Touch support is via the Braintree mobile SDKs, but I don't believe there are any official Cordova bindings yet.

[2016-03-15 15:03] #162 closed

[2016-03-16 00:10] jcasarez commented on #150
Jeff,

Only logs I have is from https://developer.paypal.com/
When I go to Transactions button under Sandbox heading I get

HTTP Status
You don't have any transactions

Only message I get from the app I created using this plugin is:
There was a problem communicating with the PayPal servers. Please try again.

When I contacted paypal they only stated that
Our Sandbox is now using TLS 1.2.

Since I

[2016-03-16 20:33] cutout33 opened #163 "what countries supported in this plugin?"
Hi,

I wanted to know what are the countries supported with this plugin? does it support all countries or just US?

[2016-03-16 21:00] bluk commented on #163
The Android and iOS SDKs that the Cordova plugin are based on are supported in the countries and currencies mentioned on [this developer doc page](https://developer.paypal.com/docs/integration/direct/rest-api-payment-country-currency-support/). Direct credit card support is much more limited than PayPal account support, so please be aware.

[2016-03-16 21:00] #163 closed

[2016-03-17 00:28] jcasarez commented on #150
On my development PC
=============
phonegap -v
6.0.1

javac -version
1.7.0_51

cordova plugin ls
com.paypal.cordova.mobilesdk 3.1.23 "PayPalMobile"

cordova platform version android
android 3.6.3

cordova platform update android
does not upgrade me past 3.6.3
=================

on my phone is 4.2.2

I'm in the process of downloading Android-studio to hopfully get Android 4.x
I think this is the pr

[2016-03-21 10:29] sam2908 opened #164 "Pay Trading are not permitted (ID inorrect clients)"
Hello
After the execution alert that displays (Pay Trading are not permitted (ID inorrect guests))

[2016-03-22 02:21] jcasarez commented on #150
Still not working. I finally got a log file for you using the link to the site you provided.
The log is from my phone. I get a popup message "There was a problem communicating with the PayPal servers. Please try again." The log captures several clicks on the Try again button. This is only a problem with sandbox accounts.

[log.txt](https://github.com/paypal/PayPal-Cordova-Plugin/files/183417/log.t

[2016-03-22 14:34] odentiML opened #165 "There was a problem setting up this payment. Please visit the paypal website to check your account."
Hi,

I opened a new issue regarding this error we have when trying to do a payment in live mode (more details in the link) :
https://github.com/paypal/PayPal-Android-SDK/issues/276

Does someone had this error too and managed to solve it ?

Thanks for your help.

[2016-03-23 01:50] jcasarez commented on #150
How do I fix it?
I got PayPal-Cordova-Plugin-v3.1.23 from https://github.com/paypal/PayPal-Cordova-Plugin and placed it into my projects   \plugins\com.paypal.cordova.mobilesdk folder. I see a PayPalMobileCordovaPlugin.java.

I see under my project \platforms\android\libs\PayPalAndroidSDK-2.9.11.jar
Is this it? If so where do I get an updated jar file?

[2016-03-23 19:42] ppmtscory commented on #165
@odentiML you will need to contact customer support as it has to do with a setting/toggle for your buyer account.  You can contact your local customer support by clicking 'contact us' at the bottom of any PayPal page.  There isn't anything that is at fault within the SDK so I will be closing this issue.

[2016-03-23 19:42] #165 closed

[2016-03-23 21:46] gtsopour commented on #156
Hello @bluk,
I have the same issue and I am receiving the same error with both XCode 6.2 or 7.3? Any other advice?

Best
George

[2016-03-23 21:49] bluk commented on #156
@gtsopour You should need Xcode 7.3 (not 6.2).

What is output when you execute:
[code]

[2016-03-23 22:02] gtsopour commented on #156
@bluk thank for getting back to me. I really appreciate that!

Right now I am in the following Mac:

clang --version
Apple LLVM version 6.0 (clang-600.0.57) (based on LLVM 3.5svn)
Target: x86_64-apple-darwin13.4.0
Thread model: posix

But I receive the same issue even if with XCode 7.3 in my new Mac. I will send you this Mac info tomorrow morning my time.

Best
George

[2016-03-23 22:04] bluk commented on #156
@gtsopour If you just want to bypass this specific issue, you can probably just find the header files (*.h) and remove the `nullable` and `nonnull` wherever you see it. There shouldn't be any harm for you in doing so.

You will be required to use Xcode 7.3 though because the static library is compiled with bitcode and that requires an Xcode 7.x-based toolset.

[2016-03-24 09:21] maplerichie opened #166 "Closed: Param mistake"

[2016-03-24 09:30] maplerichie commented on #166
Param pass in mistake

[2016-03-24 09:30] #166 closed

[2016-03-24 13:32] jcasarez commented on #150
I figured it out!
My cordova version was too old.

I was using cmd to update cordova but it was not working. It would just return and so I thought cordova was already up-to-date. I must have had the cmd wrong. Instead I used command below which will also checks your cordova version and updates if necessary.

On Windows:
1. Bring up cmd
2. npm install -g cordova
3. if you get errors due to proxy se

[2016-03-24 18:23] #150 closed

[2016-03-24 20:10] ppmtscory commented on #164
It seems you may have not posted your complete issue which would include any relevant details and/or steps to reproduce.  Can you share more?

[2016-03-24 20:11] ppmtscory commented on #160
Closing due to inactivity.  If you are still having an issue, feel free to reopen or simply open a new issue with all of the issue details.

[2016-03-24 20:11] #160 closed

[2016-03-24 20:25] ppmtscory commented on #159
@miniportal I'm not seeing the same issue when I use the sample code directly from the README.  I notice that you modified it to use BRL currency.  With that, are you using a BR merchant account and also a BR buyer account?

[2016-03-25 08:26] vikas0vanvi opened #167 "Amount not deducted from buyer account"
after adding this plugin its adding amount to merchant sandbox account but money is not deducted from buyer sandbox account , in recent activities of buyer account its showing deduction of amount like -100$ but total remaining same and its showing success response too  , what could be wrong ?

![capture](https://cloud.githubusercontent.com/assets/16686166/14040752/840e27f4-f290-11e5-9691-2f92e81c5

[2016-03-25 13:44] pp-randy commented on #167
This shows an authorization was made, so that would need to be captured.  Both Authorization and Order require additional API calls to complete payments.  Sale might be what you are looking for.  Try setting your intent to sale if you are using code similar to this below.

https://github.com/paypal/PayPal-Cordova-Plugin/blob/master/src/android/PayPalMobileCordovaPlugin.java#L149

[code]

Here is m

[2016-03-25 19:03] pp-randy commented on #167
Closing this issue.  Please let me know if you need more information.

[2016-03-25 19:03] #167 closed

[2016-03-26 17:04] caliWeb opened #168 "missing exec:PayPalMobile.init"
hello !  i have a problem with this plugin.
i've downloaded the example myShop, created a project, added plugin and done the build without problem but got this error when i try the emulate with ripple,
![errorpaypal plugin](https://cloud.githubusercontent.com/assets/18089264/14061299/26845df4-f37d-11e5-8581-811eb5ff87ef.jpg)

i've done something wrong ?

[2016-03-28 15:33] leoo232 opened #169 "Paypal - payment cant go through"
Hi guyz,

I have a question concerning paypal - i have done everything right and the Paypal plugin in working fine  on Sandbox. but when i use the live credentials- it gives me : The merchant does not accept this type of payment.

I have read that i need a Paypal Pro account. But these account are available only in USA, Canada and UK.. The merchant im dong the app for is in Mauritius.

Anyone has

[2016-03-28 16:55] bluk commented on #169
If you want to use only PayPal payments, please ensure that you have the correct permissions on the [Developer Dashboard Account Status page](https://developer.paypal.com/developer/accountStatus/). PayPal payments is required. If you have this enabled but you still have issues, I suggest you contact [PayPal Merchant Technical Support](https://www.paypal-techsupport.com) with your merchant informat

[2016-03-28 16:55] #169 closed

[2016-03-31 17:39] zpeterg opened #170 ""System Error" with Paypal App installed"
I am receiving a screen error when I try to do a cart checkout on Android: "System Error. Please try again later." Here It occurs when the PayPal app is installed on the same device. If I remove the PayPal app, the payment goes through. It works on IOS.

Here are some extracts from the log that may be helpful. I'm not certain that they are related.

------------------------------------------------

[2016-03-31 17:50] bluk commented on #170
This may be related: https://github.com/paypal/PayPal-Android-SDK/issues/272

[2016-03-31 18:16] bluk commented on #170
Closing this one and any updates should be in https://github.com/paypal/PayPal-Android-SDK/issues/272 (thanks for the detailed logs and info).

[2016-03-31 18:16] #170 closed

[2016-03-31 19:09] zpeterg commented on #170
Thanks! It's good to know that it should be resolved soon!

[2016-04-06 16:23] ppmtscory commented on #159
Closing this due to inactivity.  If your issue persists, please either reopen or create a new issue with additional details.

[2016-04-06 16:23] #159 closed

[2016-04-06 16:29] ppmtscory commented on #107
Closing as there's no issue with the plugin itself.

[2016-04-06 16:29] #107 closed

[2016-04-12 17:24] Omnitasker opened #171 "ClientId is empty, clientId is invalid."
I am using phonegap build, and trying to use Future Payments. In android debug console I get this error:

[code]

and my javascript code goes like this:

[code]
Mind the x-es, it's not empty. I'm using cli-5.2.0.
Any ideas?

[2016-04-12 20:00] RubenDorrego opened #172 "Problem with Card Scan"
Hope you can help me. I'm using version 3.1.19 in a phonegap app with phonegap build. Higher versions make that phonegap build crash. But this is not my main issue. Payments with paypal accounts works like a charm.

When I try to scan a card using the card.io interface after I scanned the card and try to charge I always get an unexpected error. I contacted PayPal support and they say I'm not sendi

[2016-04-12 21:25] bluk commented on #171
The line:
[code]

should probably be:

[code]

So that you're passing the function itself in (and not executing it and passing in the undefined result in).

[2016-04-12 21:34] #171 closed

[2016-04-12 21:36] Omnitasker commented on #171
Whole time I had a feeling that I'm missing something obvious :)
Thank you for your time!

[2016-04-14 16:16] badpenguin commented on #168
Ripple is not a device emulator. It will not work with plugins that have native code.
You can use ripple's bridge to create a mock of the plugin for testing purpouse only.

Close the topic.

[2016-04-14 17:23] #168 closed

[2016-04-18 15:27] janeandroid opened #173 "onSuccesfulPayment callback not called"
I have added below function in Paypal.js file...

onSuccesfulPayment: function(payment) {

	alert("onSuccesfulPayment");

	localStorage.payPal = "payment success: " + JSON.stringify(payment, null, 4);
    console.log("payment success: " + JSON.stringify(payment, null, 4));

	if(payment["response"]["state"] == "approved") {
		var paidAmt=$("#memAmount"+app.pay_membership_id).val();
		var payId = pa

[2016-04-18 15:41] bluk commented on #173
Are you in the No Network / Mock flow? For the `My Cordova Shop` example, it is [setup to be the NoNetwork flow by default](https://github.com/romk1n/MyCordovaShop/blob/master/www/js/index.js#L113). Use `PayPalEnvironmentSandbox` instead of `PayPalEnvironmentNoNetwork` for testing your app.

[code]

For the client IDs, you need to create an application on the [PayPal Developer website](https://dev

[2016-04-18 15:41] #173 closed

[2016-04-20 15:06] badpenguin opened #174 "xcode6 version support"
wich is the latest version that does support xcode6?
i tried the latest version and it fails to build.

[2016-04-20 15:15] bluk commented on #174
Probably [3.1.11](https://github.com/paypal/PayPal-Cordova-Plugin/releases/tag/3.1.11). I would kindly suggest you update to Xcode 7 at your earliest convenience, so you can also consume the latest fixes in Apple's iOS SDK and this SDK.

[2016-04-20 15:15] #174 closed

[2016-04-24 12:33] navinnd opened #175 "Does not clear previously entered credit card info"
This plugin remembers user's credit card info. It can be considered as feature, however it should give user an option to choose so. Is there any way we can clear this info after successful payment.

[2016-04-24 17:11] romk1n commented on #175
@navinnd you can pass a parameter remember user to be false and the payment data would not be saved https://github.com/paypal/PayPal-Cordova-Plugin/blob/master/www/paypal-mobile-js-helper.js#L156

[2016-04-25 13:39] pp-randy commented on #175
Closing this issue as it appears and answer has been provided. Please let us know if further assistance is needed.

[2016-04-25 13:39] #175 closed

[2016-04-28 15:24] miche-atucha opened #177 "unknown feature"
I have this flow for single paypal payment using rest api on a web application:
- create payment with the java rest api (this returns a link for the user to authorize the payment)
- presents the page with the link of the page for authorization to the user.
- when user authorizes that payment, it gets verified and then system do it logic.

with the plugin i do not create the payment with the rest a

[2016-05-02 20:16] jaypatel512 commented on #151
You should be able to tell the version by opening the aar file that gets exploded. There should be information related to it in build.gradle.

[2016-05-02 20:17] jaypatel512 commented on #95
Closing this issue based on inactivity. Please re-open if you are still facing this issue.

[2016-05-02 20:17] #95 closed

[2016-05-03 12:18] albaraam opened #178 "Multiple Products Items"
### Issue Description

Is it possible to pass multiple products items (PayPalPayment) to paypal?
I tried to send an array of "PayPalPayment" to renderSinglePaymentUI, but it doesn't work? Is there will be another function (may be "renderMultiPaymentUI") that allow this feature?

### Required Information

- Mode (Mock/Sandbox/Live): Sandbox
- Cordova Plugin Version: 3.1.25
- Platforms (iOS/Android/

[2016-05-06 16:14] Astutech commented on #153
I'm seeing the same thing. Here's the log:

`Build Date: 2016-05-06 16:04:56 +0000
--------------------------------------------------------------------------------
PLUGIN OUTPUT
--------------------------------------------------------------------------------
Installing "com.dawsonloudon.videoplayer" at "1.0.0" for android
Installing "com.synconset.imagepicker" at "1.0.4" for android
Installing "nl

[2016-05-06 17:15] #178 closed

[2016-05-06 17:24] #177 closed

[2016-05-06 17:25] #172 closed

[2016-05-06 17:29] #138 closed

[2016-05-06 17:29] #164 closed

[2016-05-06 17:30] #154 closed

[2016-05-06 17:31] #151 closed

[2016-05-06 17:32] #131 closed

[2016-05-09 14:20] Astutech commented on #153
Using gradle doesn't appear to fix the issue. It seems like the plugin is clashing with one of the others I'm using. The relevant part of the config is as follows:

[code]

It's not terribly consistent, but it seems like at least one of the other plugins is interfering with it. The Pushwoosh plugin is one of the ones that seems to cause a problem, but it's quite fiddly to determine which one is in

[2016-05-09 14:39] Astutech commented on #153
[code]

[2016-05-09 16:01] clankiPad commented on #53
somebody know why does amount is reinit to $1 if it is a big amount (like $1900) ? thanks

[2016-05-10 05:56] nguyenkhanh87 commented on #100
I am using cordova 6.1.1 and  paypalmobile 3.1.25
I got same issue like @mauricioaguirre

[2016-05-10 09:01] Astutech commented on #153
Oddly enough it seems to have started working again for me with the plugins configured as follows:

[code]

That's without using Gradle. Not sure why it's working now, but I'm not going to complain.

[2016-05-10 16:48] #153 closed

[2016-05-20 12:39] Omnitasker opened #180 "Unable to resolve host "api-m.sandbox.paypal.com""
### Required Information

- Mode Sandbox
- Cordova Plugin Version: cli-5.2.0
- Platforms (Both):
- Device OS Version and Device (iOS 8.4.1 on an iPhone 4s, Android 4.4.2 on HTC One.):
- PayPal-Debug-ID(s) (from any logs):

05-20 14:38:09.039: E/paypal.sdk(4588): request failed with server response:Unable to resolve host "api-m.sandbox.paypal.com": No address associated with hostname
05-20 14:38:09

[2016-05-20 13:40] Omnitasker commented on #180
I just tried downgrading to older versions - same error.

[2016-05-20 15:51] bluk commented on #180
This seems like a DNS issue with your connection. Can you ping `api-m.sandbox.paypal.com` from your machine or try to do a DNS lookup?

[2016-05-20 16:53] Omnitasker commented on #180
You are right, it was DNS issue, wifi was connected and working but for some reasone it could not resolve this host. I swicthed to mobile data and paypal went throught. Thanks

[2016-05-20 16:54] bluk commented on #180
Cool, glad it works now.

[2016-05-20 16:54] #180 closed

[2016-06-04 08:43] uttamraj143 opened #181 "Latest PayPal MPL (2.1.7) not working, is it? getPayPalInst not giving any respnse in Simulator and giving “not compatible” error on device"
Since yesterday I am getting weird errors/responses in PayPal MPL iOS library (2.1.7)

On simulator, when I call

[[PayPal getPayPalInst] preapprovalWithKey:payPalPreAprovalKey andMerchantName:@"<app-name>"];
nothing happens, and by nothing I mean nothing. No error, no response, no delegate method called and obviously no MPL payment window opens at all.

And on device, the payment UI opens up but

[2016-06-04 08:46] uttamraj143 commented on #181
![paypal](https://cloud.githubusercontent.com/assets/12625654/15798692/e7671b2a-2a5e-11e6-9352-d7b816011ec0.jpg)

[2016-06-06 15:09] bluk commented on #181
There is an existing issue at https://github.com/paypal/sdk-packages/issues/74 which we'll use to post updates. Thanks for reporting the issue.

[2016-06-06 15:09] #181 closed

[2016-06-06 16:21] smjgithub opened #182 "PayPal Express Checkout support"
Does this plugin support 'PayPal Express Checkout'

The plugin gives the options of 'PayPal with PayPal' or 'Pay with Card' but my account type does not support credit card payments?

PayPal have advised that I could use 'Express Checkout' but not sure if this is possible with the plugin?

[2016-06-06 23:07] bluk commented on #182
The official [Express Checkout](https://developer.paypal.com/docs/classic/products/express-checkout/) is an integration between your website and PayPal. I would use it if your customers browses to your website and buy things using your website whether on a computer or a mobile device. It's a relatively simple integration for a website. This Cordova plugin is not related to Express Checkout.

This

[2016-06-06 23:07] #182 closed

[2016-06-07 05:36] uttamraj143 commented on #181
May I know when could i expect to fix this issue?

[2016-06-07 06:39] smjgithub commented on #182
OK, I checked out the PhoneGap Braintree plugin but there is little to no documentation so not sure whether this would ultimately allow app users to pay with credit card if it's still basically connected to a PayPal account?

I've implemented In-App Purchases for iOS so I guess I'll do that for Android too and then if people use PayPal plugin then they'll have to pay with PayPal balance since PayP

[2016-06-09 07:45] KirankumarDafda opened #183 "How do I implement Adaptive Payment into PayPal-Cordova-Plugin"
### I wanted to implement Adaptive Payment into my mobile app

When I pay anything using PayPal will automatically divide into two parts and transfer payment into two different PayPal accounts.

This is called Adaptive Payment in PHP and works by PayPal itself.

I have implemented this plugin and its working fine with my phonegap app for the regular transfer.

I am new here for creating an issue i

[2016-06-09 14:16] sam2x opened #184 "Integrate Paypal-cordova to Cordova-plugin-purchase ?"
Hello Team,

Cordova-plugin-purchase is a great module for inapp purchase with iOS, Android, and WindowsPhone, and plus, it has a lot of users. The power of this module is to have a layer of abstraction between the different inapp payment platform.

It would be awesome to have Paypal as module.

Do you have any ressource/motivation to integrate paypal-cordova as a plugin to cordova-plugin-purchase

[2016-06-12 00:15] Ashar99 opened #185 "Port or instructions for Ionic 2 integration ?"
Most Ionic2 modules are imported from an npm module, and most cordova plugins can be accessed with ionic-native, but is there a way to get this plugin imported so that the Paypal objects and services are recognized.   I tried forcefully importing the objects and services into the app.ts from the two javascript files but that didn't work either.

[2016-06-12 12:34] shri80 commented on #183
Hi, I am willing to do same , but still no luck ,I stuck in first step  ,if I click on "Buy Now" button nothing happens
Can provide some tips how to make it work

[2016-06-13 05:22] KirankumarDafda commented on #183
@shri80, have you forgot to add "Buy Now" button id to the PayPal code, also make sure you have added paypal-mobile-js-helper.js, cordova.js/phonegap.js and respective path for buyNow button code. Just follow the steps provided into this plugin description and its working

[2016-06-14 04:41] #184 closed

[2016-06-14 04:46] #183 closed

[2016-06-14 14:37] cecoon commented on #153
Got the same problem in my app.
Without source and spec phonegap build will default to:
` <gap:plugin name="com.paypal.cordova.mobilesdk" source="pgb" spec="3.1.2" />`
which seems to work... at least compile

[2016-06-21 02:45] #158 closed

[2016-06-21 13:29] mork80 opened #187 "Disabling Direct Credit Card Payments"
Hi all,
there is a way to disable DCC button when invoking SDK "express payments" on both iOS and Android ?
In my country DCC is not supported and i want to avoid useless scan from the user.
Will be better to redirect to paypal login

[2016-06-21 13:59] mork80 commented on #187
solved
Add "acceptCreditCards: false" in PayPalConfiguration object initialization

[2016-06-21 14:22] #187 closed

[2016-06-21 15:51] miche-atucha opened #188 "card-io exclude feature"
### Required Information

- Platforms: Android

### Feature Description

[2016-07-07 02:53] harrymarwa opened #190 "How can i make parallel payments (payment to two receivers)"
### Required Information

- Mode (Mock/Sandbox/Live):sandbox
- Cordova Plugin Version:latest
- Platforms (iOS/Android/Both):Both
- Device OS Version and Device (iOS 9.x on an iPhone 6, Android Marshmallow on Nexus 6, etc.):Android KitKat
- PayPal-Debug-ID(s) (from any logs):

### Issue Description
How to make payments to two receivers ?

[2016-07-07 17:31] #190 closed

[2016-07-08 16:34] #188 closed

[2016-07-12 13:39] dabeer5stardesigner opened #191 "Paypal Production Email Erro"
When i install demo app and change PayPalEnvironmentProduction to my paypal email address. After convert app using cordova and click buy now button its give me the error <img src="http://5stardesigners.com/wp-content/uploads/2016/07/Screenshot_2016-07-12-18-33-091.png">

I have change these two below code

initPaymentUI: function() {
    var clientIDs = {
      "PayPalEnvironmentProduction": "cust

[2016-07-12 14:24] bluk commented on #191
The client ID must be a registered app's client ID (it is not a PayPal account email address). You can create an app in the [PayPal Developer Dashboard](https://developer.paypal.com/developer/applications/). You may have to Log In in the upper right first.

More info can be found in the [PayPal Android SDK](https://github.com/paypal/PayPal-Android-SDK#credentials) README (which this Cordova plugin

[2016-07-12 14:24] #191 closed

[2016-07-12 15:00] dabeer5stardesigner commented on #191
Thanks Problem Solve @bluk

[2016-07-12 18:27] checkthatapp opened #192 "paypal-cordova-plugin 3.2.2 not working in ios"
PayPal-Cordova-Plugin 3.2.2 not working in ios  in android it works fine.When i migrate to 3.2.1 paypal is working fine in ios.

[2016-07-12 18:29] bluk commented on #192
I don't believe there were any changes for iOS between 3.2.1 and 3.2.2. What do you see as an error for iOS in 3.2.2?

[2016-07-26 00:25] norvinjohn opened #194 "Unable to pay"
### Required Information

- Mode (Mock/Sandbox/Live): Sandbox
- Cordova Plugin Version: 3.2.2
- Platforms (iOS/Android/Both): Android
- Device OS Version and Device (iOS 9.x on an iPhone 6, Android Marshmallow on Nexus 6, etc.): android 4.4.4
- PayPal-Debug-ID(s) (from any logs):

### Issue Description

![screenshot_2016-07-26-08-20-33](https://cloud.githubusercontent.com/assets/6295837/17121998/4

[2016-07-26 01:19] bluk commented on #192
Closing due to inactivity. If there's any other info about the error, please leave a comment. Thanks.

[2016-07-26 01:19] #192 closed

[2016-07-26 07:16] cecoon commented on #194
same here
![screenshot_2016-07-26-09-12-43](https://cloud.githubusercontent.com/assets/8214905/17129131/9aeaaccc-5311-11e6-8a4a-d73b0b7c0020.png)

[2016-07-30 21:05] fursid commented on #194
Required Information

**Mode (Mock/Sandbox/Live):**
Sandbox

**Cordova Plugin Version:**
3.1.17

**Platforms (iOS/Android/Both):**
Both

**Device OS Version and Device (iOS 9.x on an iPhone 6, Android Marshmallow on Nexus 6, etc.):**
Tested on

- Android v4.4.2 on Infinix-x551
- Android v5.0 on Lenovo X2-EU
- Android v5.1 on Inifnix-x551
- Android v6.0.1 on Samsung SM-G925I
- Apple - iPhone 6	v9.2

[2016-07-30 21:10] fursid opened #195 ""problem communicating with the PayPal servers" error"
Required Information

**Mode (Mock/Sandbox/Live):**
Sandbox

**Cordova Plugin Version:**
3.1.17

**Platforms (iOS/Android/Both):**
Both

**Device OS Version and Device (iOS 9.x on an iPhone 6, Android Marshmallow on Nexus 6, etc.):**
Tested on

- Android v4.4.2 on Infinix-x551
- Android v5.0 on Lenovo X2-EU
- Android v5.1 on Inifnix-x551
- Android v6.0.1 on Samsung SM-G925I
- Apple - iPhone 6	v9.2

[2016-08-01 15:40] jaypatel512 commented on #195
Duplicate of #194.

Lets consolidate these issues. We can track it there.

[2016-08-01 15:40] #195 closed

[2016-08-02 17:39] jaypatel512 commented on #194
I was able to reproduce and fix the issue on my end, by enabling `Allow payments sent to me in a currency I do not hold:` section to accept all currency. By Default, it will not accept currencies that you do not hold in your sandbox account.

to fix this, here are the steps you can take. You can reach out to [PayPal Merchant Technical Support](https://developer.paypal.com/support/) related to this

[2016-08-02 17:39] #194 closed

[2016-08-03 04:00] markserbol commented on #194
This works for me. Thanks @jaypatel512 !

[2016-08-04 12:01] afxgroup opened #196 ""Gradle free" plugin"
- Sandbox:
- Android:
- All:

It is possible to create a fork of this plugin that don't use gradle? many automatic builders (like IntelXDK) doesn't accept plugins that has a gradle script into. What gradle is used for in this plugin (and in card.io)?

[2016-08-04 15:49] jaypatel512 commented on #196
The gradle file is used to download the `card.io` library as well as `paypal-android-sdk` library. This is required for proper functionality of the plugin in android.

I think the Intel XDK team are working on enabling gradle support soon.

[2016-08-04 15:49] #196 closed

[2016-08-04 15:51] jaypatel512 commented on #185
Hey @Ashar99 !

I will be closing this issue based on inactivity. However, as @braebot mentioned, we do not have much ionic2 experience. If there is something that we can do to get that to work properly, we would be more than happy to look into a simple Pull Request.

Thank you.

[2016-08-04 15:51] #185 closed

[2016-08-04 17:29] afxgroup commented on #196
So it is used only for the download of card.io? just to understand if i can try to remove the script and include the card.io manually until they fix the problem

[2016-08-04 21:30] jaypatel512 commented on #196
The latest version only downloads mSDK as shown here. You can now download card.io separately if you wish.

[code]

[2016-08-04 21:30] jaypatel512 commented on #196
Here is the link to card.io cordova plugin repository: https://github.com/card-io/card.io-Cordova-Plugin

[2016-08-05 05:28] roysG opened #197 "express checkout version?"
### Required Information

- Mode (Mock/Sandbox/Live):
- Cordova Plugin Version:
- Platforms (iOS/Android/Both):
- Device OS Version and Device (iOS 9.x on an iPhone 6, Android Marshmallow on Nexus 6, etc.):
- PayPal-Debug-ID(s) (from any logs):

### Issue Description

[2016-08-05 11:11] afxgroup commented on #196
yes i've downloaded it and however also that plugin use gradle.. so i must wait for intel developers..

[2016-08-05 16:53] jaypatel512 commented on #197
Please add more details. closing this issue as invalid.

[2016-08-05 16:53] #197 closed

[2016-08-06 22:31] lenivene opened #198 "I want domain, please!"
I want domain to whitelist!

Thanks

[2016-08-06 23:58] #198 closed

[2016-08-06 23:58] jaypatel512 commented on #198
Invalid Issue.

[2016-08-11 11:31] Simerjit-developer opened #200 "Invalid Merchant ID"
### Required Information

- Mode (Mock/Sandbox/Live): SANDBOX
- Cordova Plugin Version: 6.x
- Platforms (iOS/Android/Both): android
- Device OS Version and Device (iOS 9.x on an iPhone 6, Android Marshmallow on Nexus 6, etc.):android
- PayPal-Debug-ID(s) (from any logs):

### Issue Description

here is the client id section:
[code]

on render:
[code]

working on ionic. Let me know what is the issu

[2016-08-11 11:51] Simerjit-developer commented on #171
I am getting Invalid clientId error on sandbox mode. Do you know how to fix it? If yes,then please share.

[2016-08-11 14:43] pp-randy commented on #171
@Simerjit-developer can you provide the debug_id from the API response?  Also can you check if the issue is ongoing there was a sandbox issue earlier today.

[2016-08-11 14:55] Simerjit-developer commented on #200
I have used the sandbox client ID from developer applications too... but
still getting the same error....

I have used this plugin before too and was working fine. For the very first
time I am getting this.

Also I have a query, when we render the response, we can use three methods,
one is paypalenvironmentsandbox, another is production, third is
paypalenvironmentNoNetwork. NoNetwork is just for d

[2016-08-11 19:30] pp-randy commented on #200
Can you provide a debug_id or any error logging?